<%= content_for :page_title do %>
追加评价
<% end %>
<br />
<div class="emoticon-box">
	
</div>
<div class="evaluations-box bg-white">
  <div class="star-box">
  	<!-- 星数判断 -->
	<div class="star"></div>
	<div class="star"></div>
	<div class="star"></div>
	<div class="star half"></div>
  </div><!-- start-box -->
  <div class="gap">
  	<textarea class="input-block" rows="6" placeholder="我还想说..."></textarea>
  </div>
</div><!-- evaluations-box -->
<div class="evaluations-list">
  <br />
  <div class="bg-white gap line-gap">
  	<p class="main-color">2015-10-12</p>
  	<p>还好啦</p>
  </div>
  <br />
  <div class="bg-white gap line-gap">
  	<p class="main-color">2015-10-12</p>
  	<p>一般般</p>
  </div>
</div><!-- evaluation-box -->