<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <%= link_to "个人认证", admin_user_personal_authentication_path, class:"btn btn-default col-xs-12" %>
  </div>
  <div class="col-xs-2"><%= link_to "企业认证", admin_user_enterprise_authentication_path, class:"btn btn-primary col-xs-12" %></div>
</div>
<div class="row">
  <%#= simple_form_for :product,url: {:action=>:create},wrapper: :horizontal_file_input do |f| %>
    <div class="col-xs-12 well">

    </div>
    <div class="button_div  col-xs-4  col-md-offset-4"  style="margin-top:30px;padding-bottom:30px;">
      <%#= f.submit "创建",class: "btn btn-large btn-primary  col-xs-12 " %>
    </div>

  <%# end %>

</div>
