<br />
<div class="container nogap content">
	<div class="box-w85 nogap">
    <div style="height:600px;background-color:white;padding:20px;">
      <h4 class="text-center">选择业务开通</h4>

      <div class="box-w33">
        <div class="admin-box">
          <a href="<%= new_admin_business_path(type: 'ordinary') %>">
            <img src="/assets/uboss_logo.png" alt="No img" class="btn-block" style="margin:10px auto;">
            <span class="text-center btn-block">我要开店（物流发货）</span>
            <br />
            <span>买家线上下单，卖家快递发货，有发货要求的商家需要开通。</span>
          </a>
        </div>
      </div>
      <div class="box-w33">
        <div class="admin-box">
          <a href="<%= new_admin_business_path(type: 'service') %>">
            <img src="/assets/uboss_logo.png" alt="No img" class="btn-block" style="margin:10px auto;">
            <span class="text-center btn-block">我要开店（本地服务）</span>
            <br />
            <p>买家线上下单，到店消费。适合提供本地生活服务，有线下门店的商家开通。</p>
          </a>
        </div>
      </div>
      <div class="box-w33">
        <div class="admin-box">
          <a href="javascript:;">
            <img src="/assets/uboss_logo.png" alt="No img" class="btn-block" style="margin:10px auto;">
            <span class="text-center btn-block">我要供货</span>
            <br />
            <p>供货给代销商销售，供货商负责发货，代销商负责商品推广及客服工作。</p>
          </a>
        </div>
      </div>

    </div>
	</div>

</div>
