<div class="container shared">	
  <div class="text-center gap">    
    <div class="activate-info">
      <div class="border-line">
        <h3><%= @live_activity_info.id %></h3>
      </div>
    </div><!-- activate-info -->
  </div>
  <div class="text-center tips-text">你的奖品已放入在<a href="/奖券" class="orange-color">【验证券】</a></div>
  <div class="activate-text">
  		
  </div><!-- activate-text -->
  <div class="activate-bg">
  		
  </div><!-- activate-bg -->
  <div class="pop-bg hidden">
  		<div class="pop-content text-center">
  			<div class="share-img-box">
		    <%= image_tag('mobile/slideshow/1.jpg')%>
		  </div>
		  <br />
		  <div>长按图片保存</div>
  		</div>
  </div>
  <br />
</div>
<script>
	$('.activate-bg').click(function(){
		$('.pop-bg').removeClass('hidden')
		$('html,body').attr('style','overflow: hidden;')
	})
	$('.pop-bg').click(function(){
		$('.pop-bg').addClass('hidden')
		$('html,body').attr('style','')
	})
</script>

