<div class="container shared">	
  <div class="text-center gap">    
    <div class="activate-info">
      <div class="border-line">
        <h3>123123123123</h3>
      </div>
    </div><!-- activate-info -->
  </div>
	<div class="share-img-box">
			<h4 class="gap black-color">
				购买商品参与分享抽奖活动<br/>
				一大波好礼坐等领取
			</h4>
	    <div class="gap"><a href="店铺连接" class="store-cover" style="background-image:url('<%= image_url('mobile/slideshow/1.jpg')%>') ;"></a></div>
	    <div class="gap"><a href="店铺连接" class="store-name">店铺名称 <span class="right-icon">→</span></a></div>
	</div>
  <br />
</div>
