<div class="container bg">
  <div class="text-center">
    <%= image_tag("activate_page/login-image.png")%>
  </div>
  <div class="login-box box">
    <div class="lottery-btn-box text-center">
      <%= link_to "参与抽奖", @type == 'live' ? live_draw_promotion_activity_path(@promotion_activity) : share_draw_promotion_activity_path(@promotion_activity), class: "lottery-btn" %>
    </div><!-- lottery-btn-box -->
    <br />
    <div class="box-w100 text-box">
      <p><span class="orange-circle"></span> 分享二维码，好友通过分享并成功抽奖后，双方皆有奖励。</p>
    </div>

    <p class="text-center"><small>*活动最终解释权归UBOSS所有</small></p>
  </div><!-- login-box -->
</div><!-- container -->
