<div class="container bg">
  <div class="text-center">
    <%= image_tag("activate_page/login-image.png")%>
  </div>
  <div class="login-box box">
    <div class="lottery-btn-box text-center">
    		<a href="/抽奖页面" class="lottery-btn">
    			参与抽奖
    		</a>
    </div><!-- lottery-btn-box -->
    <br />
    <div class="text-center">活动规则</div>
    <br />
    <div class="box-w100 text-box">
      <p><span class="orange-circle"></span> 参与抽奖有机会获得商家一份礼品</p>
      <p><span class="orange-circle"></span> 分享二维码，好友抽中奖后双方皆有奖励</p>
      <p><span class="orange-circle"></span> 活动最终解释权归UBOSS所有</p>
    </div>
  </div><!-- login-box -->
</div><!-- container -->
