<div class="container bg">
  <div class="text-center">
    <%= image_tag("activate_page/login-image.png")%>
  </div>
  <div class="login-box box">
    <br />
    <div class="box-w100 text-box">
      <p><span class="orange-circle"></span> 扫码注册即可抽奖；</p>
      <p><span class="orange-circle"></span> 分享二维码，好友通过分享并成功抽奖后，双方皆有奖励。</p>
    </div>
    <p class="text-center"><small>*活动最终解释权归UBOSS所有</small></p>
  </div><!-- login-box -->
</div><!-- container -->
