<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>编辑企业认证</li>
	</ul>
</div>
<br />
<div class="container">
  <%= render partial: "admin/certifications/edit", object: @certification, locals: { title: "编辑企业认证" } %>
</div>
