<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>企业认证</li>
	</ul>
</div>
<br />
<div class="container">
	<div class="header-tab">
		<%= link_to "个人认证", url_for(controller: :personal_authentications, action: :index) , class:"tab-title" %>
		<div class="tab-title active">企业认证</div>
	</div>
</div>
<br />
<%= render "index_list" %>
