<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <%= link_to "个人认证", url_for(controller: :personal_authentications, action: :index) , class:"btn btn-default col-xs-12" %>
  </div>
  <div class="col-xs-2"><%= link_to "企业认证",  '###', class:"btn btn-primary col-xs-12" %></div>
</div>
<hr/>

<div id="index_list">

  <%= render "index_list" %>

</div>
