<div class='container-sm'>

  <%= simple_form_for(current_user, url: binding_agent_admin_account_path, method: :patch) do |f| %>

    <h2>绑定UBoss创客</h2>
    <hr />
    <%= f.input :code, label: false, placeholder: '我的邀请码' %>
    <p><small>填写创客发与您的邀请码即可与创客绑定入驻UBOSS平台，您也可以不填写邀请码直接入驻UBOSS平台。</small></p>

    <%= f.submit '确认绑定', name: 'binding_submit', class: 'btn btn-primary col-md-12' %>
    <%= f.submit '没有邀请码，暂不绑定', class: 'btn btn-link col-md-12' %>

  <% end %>

</div>
