<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">切换账号</li>
	</ul>
</div><!-- container -->
<br />

<div class="container nogap">
  <% current_user.store_accounts.each do |account| %>
    <%= link_to switch_account_admin_account_path(sid: account.user_id), method: :patch do || %>
      <div>
        <%= image_tag account.user.avatar_url(:thumb) %>
        <p>账户：<%= account.user.identify %></p>
        <p>店铺名称：<%= account.user.service_store.store_name %></p>
      </div>
    <% end %>
  <% end %>
</div>
