.account-icon{
    background: image-url('mobile/account-icon.png') no-repeat;
    background-size:30px auto ;
    margin-top: 10px;
    width: 30px;
    height: 26px;
    display: inline-block;
    position: relative;
    text-align: center;
    &.icon1{
        background-position:0 0 ;
    }
    &.icon2{
        background-position:0 -47px ;
    }
    &.icon3{
        background-position:0 -94px ;
    }
    &.icon4{
        background-position:0 -141px ;
    }
    &.icon5{
        background-position:0 0 ;
    }
    .num{
        min-width: 16px;
        line-height: 16px;
        font-size: 10px;
        color: #fff;
        background: $brand-primary;
        border-radius: 20px;
        display: block;
        position: absolute;
        top: -5px;
        right: -5px;
    }
}
.invite-title{
    font-size: 18px;
    padding:20px 4px;
    border-bottom: 1px solid #eee;
}
#invite_seller_histroy{font-size: 14px;color: #777;padding: 0 10px;}
#invite_seller_histroy .edit-icon a{display: inline-block;width:19px;padding:9px;}
.note-info{ font-size: 12px;color: #999; padding-top: 0;}
#invite_seller_histroy .note-box{
    td{ border: none; padding-bottom: 0;}
    .edit-icon{ border-bottom: 1px solid #eee;}
}
.hongbao{
    background: image-url('mobile/account/hongbao-icon.png') #fff no-repeat;
    padding: 15px 10px 15px 30px;
    background-position:10px center;
    background-size:auto 18px ;
    position: relative;
    .newyear{
        background: image-url('mobile/account/newyear.png') rgba(0,0,0,.7) center center no-repeat;
        background-size: auto 30px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
.avatar{
    display: table;
    width: 100%;
    > div{
        display: table-cell;
        vertical-align:middle;
    }
    .cover{
         padding-right: 10px;
         width: 80px;
    }
    .cover img{
        width: 80px;
        height: 80px;
        border-radius:100px ;
        overflow: hidden;

    }
    .name{
        text-align: left;
        font-size: 16px;
    }
    .setting-icon{
        width:30px;
        a{
            padding: 10px 0 10px 10px;
            display: block;
            width: 20px;
        }

    }
}
.privilege-rate{
    background: #fff;
    a{
        display: block;
        background: image-url('mobile/gray-arrow-right.png') no-repeat right center #f6f6f6;
        background-position-x: 97%;
        background-size:8px auto;
        padding-right: 30px;
        color: #555;
        line-height: 20px;
        &.bg-white{
            background-color: #fff;
        }
    }
    

}
.privilege-form{
    .form-input{text-align: right;}
    input{ border: none; text-align: right;color:#f9ba10;}

}
.share-card {
    background: #fff;
    overflow: hidden;
    line-height: 20px;
    border-bottom: 1px solid #eee;
    .cover{
        float: right;
        margin-left: 10px;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .info{
        overflow: hidden;
        .title{
            font-size: 16px;
            color: #333;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p{
            margin-bottom: 10px;
        }
    }
}
