.calling-notify-box{
  background: #fff;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  .title{margin-left:40px;}
  .service-name{ padding: 5px 0;}
  .status-icon{
    background: $brand-primary;
    color: #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    width: 80px;
    text-align: center;
    font-size: 8px;
    left: -26px;
    top: 6px;
    height: 16px;
    line-height: 16px;
    
  }
  .calling{
    background: #f9ba10;
  }
}
.calling-service-local{
  padding-left: 30px !important;
  background: image-url('mobile/local-main.png') no-repeat center;
  background-size: auto 16px ;
  background-position-x:10px ;
}
.calling-service-btn{
  width: 70px;
}
.calling_services{
  background: #23212b;
}
.calling-order-service{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  .calling-service-btn{
    background: image-url('mobile/calling-service/order.png') no-repeat top center #fff;
    background-position-y:8px ;
    color: $brand-primary;
    background-size: 24px auto;
    width: 90px;
    padding-top:32px;
    padding-bottom: 0;
    font-size: 12px;
    border-radius:100px 100px 0 0 ;
  }
  .disabled{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
}
.calling-order-service:before{
  position: fixed;
  left: 0;
  width: calc(50% - 54px);
  width: -webkit-calc(50% - 54px);
  bottom: 10px;
  height: 2px;
  background: $brand-primary;
  content: '';
}
.calling-order-service:after{
  position: fixed;
  right: 0;
  width: calc(50% - 54px);
  width: -webkit-calc(50% - 54px);
  bottom: 10px;
  height: 2px;
  background: $brand-primary;
  content: '';
}
.table_number{
  font-size: 16px;
  .calling-service-local{
    background-size: auto  18px;
    background-position-x: 6px;
  }
}
#table_number_id{
  background:image-url('mobile/calling-service/arrow-down.png') no-repeat center right $brand-primary;
  border-radius: 6px;
  background-size:16px auto ;
  background-position-x:95% ;
  color: #d6d6d6;
  width: 60%;
  padding: 10px 30px 10px 10px;
  position: relative;
}
