.calling-notify-box{
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  .title{margin-left:40px;}
  .status-icon{
    background: $brand-primary;
    color: #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    width: 80px;
    text-align: center;
    font-size: 8px;
    left: -26px;
    top: 6px;
    height: 16px;
    line-height: 16px;
    
  }
  .calling{
    background: #f9ba10;
  }
}
.calling-service-local{
  padding-left: 30px !important;
  background: image-url('mobile/local-main.png') no-repeat center;
  background-size: auto 16px ;
  background-position-x:10px ;
}
