.emoticon-box {
  display: table;
  width: 100%;
  .emoticon {
    width: 1%;
    vertical-align: middle;
    padding: 5px 10px;
    display: table-cell;
    text-align: center;
    color: #999;
  }
  .icon {
    background: image-url('mobile/evaluations.png') no-repeat;
    background-size: 330px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin: 0 0 4px;
  }
  .bad-icon {
    background-position-x: -72.5px;
  }
  .good-icon {
    background-position-x: -145px;
  }
  .better-icon {
    background-position-x: -218px;
  }
  .best-icon {
    background-position-x: -290px;
  }
  .emoticon.active {
    background: #fff;
    color: $brand-primary;
    .icon {
      background-position-y: -72px;
    }
  }
}
.evaluations-box {
  textarea {
    border: none;
    outline: none;
    background: #f6f6f6;
    border-radius: 6px;
    padding: 10px;
    -webkit-appearance: none;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
  }
  .star {
    float: left;
    width: 20%;
    background: image-url('mobile/star.png') center top no-repeat;
    background-size: 30px;
    height: 30px;
    margin-top: 10px;
  }
  .star.half {
    background-position-y: -56px;
  }
}
.evaluation-dishes-list {
  padding-left: 10px;
}
.evaluation-dishes-box {
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding: 10px 10px 10px 0 ;
  display: flex;
  display: -webkit-box;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  .cover {
    background-image:image-url('mobile/dishes-defualt.jpg') ;
    background-size: cover;
    background-position: left center;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10%;
  }
  .title {
    width: 70%;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 1;
  }
  .recommend-icon {
    width: 10%;
    text-align: right;
    span {
      display: inline-block;
      height: 22px;
      width: 22px;
      background: image-url('mobile/good.png') no-repeat;
      background-size: 22px auto;
      &.active{
        background-position-y: -42px;
      }
    }
  }
}
.evaluation-dishes-box:last-child{
  border-bottom: none;
}
