.login-logo{
    font-size: 40px;
    margin: 0;
}
textarea{
    border: none;
    outline: none;
    background: #f6f6f6;
    border-radius:6px ;
    padding: 10px;
    -webkit-appearance: none;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
}
select{
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding-right: 10px;
    background: image-url('mobile/down.png') no-repeat right center;
    background-size:10px ;
    line-height: 20px;
}
input:focus{
    border-color: $brand-primary;
    color: #333;
}
.input-group{
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    label{
        width:40px ;
        display: block;
        float: left;
        margin-right: 10px;
        padding: 5px 0 0;
    }
    .input-box {
       overflow: hidden;
       .text{
           padding: 5px 0 0;
       }
    }
    &.large{
       label{
           padding: 9px 0 0;
       }
       .text{padding: 8px 0 0;}
    }
    
}
.input-radius,.input-radius:focus{
    border-radius: 4px;
}
.input-large{
    padding: 8px;
}
.input-large:focus{
    padding: 8px;
}
.input-block{
    box-sizing: border-box;
    width: 100%;
}
.input-border,.input-border:focus{
    border: none;
    border-bottom: 1px solid #ddd;
    padding-left:0 ;
    padding-right:0 ;
}
.input-border:focus{
    color: $brand-primary;
}
.form-group{
    display: table;
    width: 100%;
    .form-label,.form-input {
        display: table-cell;
        padding: 0 10px;
    }
}

input,input:focus{
  outline:none;
  border:1px solid #ddd;
  display: inline-block;
  padding: 2px 4px;
  line-height: 20px;
  color: #999;
  border-radius: 0;
  vertical-align: middle;
}
textarea{
  border: none;
  outline: none;
  background: #f6f6f6;
  border-radius:6px ;
  padding: 10px;
  -webkit-appearance: none;
  box-shadow: 2px 2px 3px #999;
  -webkit-box-shadow: 2px 2px 3px #999;
}
select{
  border: none;
  outline: none;
  -webkit-appearance: none;
  padding-right: 10px;
  background: image-url('mobile/down.png') no-repeat right center;
  background-size:10px ;
  line-height: 20px;
}
input:focus{
  border-color: $brand-primary;
  color: #333;
}
.input-group{
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 14px;
  label{
    width:40px ;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 5px 0 0;
  }
  .input-box {
    overflow: hidden;
    .text{
      padding: 5px 0 0;
    }
  }
  &.large{
    label{
      padding: 9px 0 0;
    }
    .text{padding: 8px 0 0;}
  }

}
.input-radius,.input-radius:focus{
  border-radius: 4px;
}
.input-large{
  padding: 8px;
}
.input-large:focus{
  padding: 8px;
}
.input-block{
  box-sizing: border-box;
  width: 100%;
}
.input-border,.input-border:focus{
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left:0 ;
  padding-right:0 ;
}
.input-border:focus{
  color: $brand-primary;
}
.form-group{
  display: table;
  width: 100%;
  .form-label,.form-input {
    display: table-cell;
    padding: 0 10px;
  }
}
