header {
  position: relative;
  .header-bar {
    text-align: center;
    overflow: hidden;
    line-height: 20px;
    background: #fff;
    a{display: inline-block;}
    .logo{height: 20px; margin-left: 58px;padding:10px 0;}
    .title{
      margin:10px 0 10px 42px;
      display: inline-block;
      font-size: 20px;
      color:$brand-primary;
      line-height: 20px;
      max-width: 190px;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow: hidden;
    }
    .menu-btn,.submit{
      float: right;
      padding: 10px;
      font-size: 14px;
      img{ width: 21px;}
    }
    .back{
        float: left;
        padding: 10px;
        img{ 
          height: 14px;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
    }
  }
  .cart-icon{
    float: left;
    padding: 10px;
    img{
        height: 16px;
    }
  }
  .nav-bar{
    display: none;
    position: absolute;
    z-index: 50;
    top:45px;
    right:5px;
    background: #fff;
    border-radius:4px ;
    box-shadow: 0px 0px 24px #999;
    a{
      color:$brand-primary;
      display: block;
      border-top: 1px solid #eee;
      padding: 10px 30px 10px 10px;;
      font-size: 14px;
      line-height: 20px;
      
    }
    li:first-child{
        a{ border-top:none ;}
    }
  }
  .nav-bar:before{
    content: ' ';
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    
  }
  .only-products-nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      text-align: right;
      background: -moz-linear-gradient(top, rgba(200,200,200,0.8), rgba(200,200, 200, 0));
      background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(200,200,200,0.5)), to(rgba(200,200, 200, 0))); 
      
      .menu-btn{     
          z-index: 50;      
          display: inline-block;
          width: 40px;
          height: 40px; 
          line-height: 35px;
          text-align: center;
          border-radius: 500px ;
          img{ width: 21px;}
      }
      .nav-bar{
          text-align: left;          
      }
      
  }
}

