header {
  position: relative;
  .header-bar {
    overflow: hidden;
    line-height: 20px;
    background: #fff;
    a{display: inline-block;}
    img{vertical-align: text-top;}
    .logo{height: 16px; padding:14px 0 14px 10px;}
    .title{
      padding:13px 0 13px 10px;
      font-size: 18px;
      color:$brand-primary;
      line-height: 1;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow: hidden;
      vertical-align: bottom;
    }
    &.title-gap .title{      
      margin:12px 0 12px 0;
    }
    .menu-btn,.submit{
      float: right;
      padding: 12px 10px;
      font-size: 14px;
      img{ height:16px;}
    }
    .back{
        float: left;
        padding: 12px 10px;        
        img{ 
          height: 16px;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);          
        }
    }
  }
  .cart-icon{
    float: right;    
    padding: 12px 10px;
    img{
        height: 16px;
    }
  }
  .nav-bar{
    display: none;
    position: absolute;
    z-index: 999;
    top:45px;
    right:5px;
    background: #fff;
    border-radius:4px ;
    box-shadow: 0px 0px 24px #999;
    a{
      text-align: left;
      color:$brand-primary;
      display: block;
      border-top: 1px solid #eee;
      padding: 10px 30px 10px 10px;;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      
    }
    li:first-child{
        a{ border-top:none ;}
    }
  }
  .nav-bar:before{
    content: ' ';
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    
  }
  .only-products-nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      text-align: right;
      background: -moz-linear-gradient(top, rgba(200,200,200,0.8), rgba(200,200, 200, 0));
      background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(200,200,200,0.5)), to(rgba(200,200, 200, 0))); 
      .white-icon{
        padding: 8px;
        height: 16px;
        width: 16px;
        line-height: 15px;
        text-align: center;
        border-radius: 500px ;
        background: rgba(255,255,255,0.8);
        margin: 10px;
        display: inline-block;
        z-index: 50; 
        float: right;
      }
      .nav-bar{
        text-align: left;      
        right: 10px;
        top: 55px;    
      }
      
  }
}

