.home-page{
    background:image-url('mobile/p_bg.jpg') no-repeat top center;
    background-size:cover ;
    .btn{
        background: #fff;
        padding: 8px;
        width: 35%;
        border-radius: 50px;
        color: #f9ba10;
        box-shadow: 5px 3px 5px rgba(0,0,0,0.1) ;
    }
    .title{font-size: 18px;}
    .cover{
        background-position:center;
        background-repeat:no-repeat ;
        background-size:cover ;
        display: inline-block;
        height: 100px;
        width: 100px;
        border: 2px solid #fff;
        border-radius: 100px;
    }
}
