small{font-size: 70%;}
.gap{padding:10px}
.nogap{ padding:0;}
.line-gap{
    p{
        line-height: 120%;
        font-size: 110%;
        margin-bottom: 8px;
    }
    p:last-child{
        margin: 0;
    }
}
.text-center{ text-align: center;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-line{text-decoration: line-through;}
.text-cut{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pull-right{float:right}
.pull-left{float:left}

.border-box { border-bottom: 1px solid #dcdcdc; padding-bottom: 5px;}
.fixed-container{ padding-bottom: 60px;}
h2{font-size: 21px; line-height: 30px;}
h3{font-size: 18px;margin:20px 0; line-height: 25px;}
h4{font-size: 15px; line-height: 25px; font-weight: normal;}


.bg-white{ background:#fff;}
.bg-main{ background: $brand-primary;color: #fff;}

.page-title{ 
    color: $brand-primary; 
    padding: 10px 0;
    font-size: 14px;
}
.page-title .more-bar {
  color: #b6b6b6;
  font-size: 11px;
  float: right;
  img{ height: 15px; margin-left: 5px;}
 }
.lock{ 
    height: 100%; overflow: hidden;
}
.main-color{ color: $brand-primary; }
.like-color{ color: #f9ba10;}
.gray-color{ color:#999}
.red-color{ color: #ff1e1e;}

.load-more {
  color: #fff;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: lighten(#43c3aa, 10%);
  &.done {
    background-color: lighten(#43c3aa, 20%);
  }
  &.loading {
    background: image-url("ajax-loader.gif") no-repeat 50px;
    background-size: 16px;
    background-color: lighten(#43c3aa, 10%);
  }
}


.main-color{ color: $brand-primary; }
.like-color{ color: #f9ba10;}
.gray-color{ color:#999}

.hidden {
  display: none;
}

