small{font-size: 80%; line-height: 1;}
.gap{padding:10px}
.gap-lr{padding: 0 10px;}
.nogap{ padding:0;}
.line-gap{
    p{
        line-height: 120%;
        font-size: 110%;
        margin-bottom: 8px;
    }
    p:last-child{
        margin: 0;
    }
}
.m-bottom10{
    margin-bottom: 10px;
}
.m-top10{
    margin-top: 10px;
}
.text-center{ text-align: center;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-line{text-decoration: line-through;}
.text-cut{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text-break{ word-break:break-all}
.pull-right{float:right}
.pull-left{float:left}
.ul-list{ list-style:disc;padding-left: 15px;}

.border-box { border-bottom: 1px solid #eee; padding-bottom: 5px;}
.fixed-container{ padding-bottom: 60px;}
h1{font-size: 18px;}
h2{font-size: 16px;}
h3{font-size: 15px;}
h4{font-size: 13px;}
h5{font-size: 10px;}
h6{font-size: 8px;}


.bg-white{ background:#fff;}
.bg-main{ background: $brand-primary;color: #fff;}
.bg-like{ background: #f9ba10;}
.nobg{background: none;}

.page-title{
    color: $brand-primary;
    padding: 10px 0;
    font-size: 15px;
}
.page-title .more-bar {
  color: #b6b6b6;
  font-size: 11px;
  float: right;
  img{ height: 15px; margin-left: 5px;}
 }
.lock{
    height: 100%; overflow: hidden;
}
.main-color{ color: $brand-primary; }
.like-color{ color: #f9ba10;}
.gray-color{ color:#999}
.white-color{ color: #fff;}
.red-color{ color: #ff1e1e;}
.black-color{ color: #333;}

.load-more {
  color: #fff;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: lighten(#43c3aa, 10%);
  &.done {
    background-color: lighten(#43c3aa, 20%);
  }
  &.loading {
    background: image-url("ajax-loader.gif") no-repeat 50px;
    background-size: 16px;
    background-color: lighten(#43c3aa, 10%);
  }
}
.alert-error{
  position: relative;
  background: #fff8dd;
  border-top: 3px dashed #f9ba10;
  border-bottom: 3px dashed #f9ba10;
  padding:10px 10px 0;
  font-size: 14px;
  color: #f9ba10;
  p{
    margin-bottom:10px;
  }
  .close{
    position: absolute;
    right:5px;
    top:5px;
    img{
      width:20px;
    }
  }
}


.main-color{ color: $brand-primary; }
.like-color{ color: #f9ba10;}
.gray-color{ color:#999}
.red-color{ color: #f91d36;}

.hidden {
  display: none;
}

.gap{padding:10px}
.gap-lr{padding: 0 10px;}
.nogap{ padding:0;}
.line-gap{
    p{
        line-height: 120%;
        font-size: 110%;
        margin-bottom: 8px;
    }
    p:last-child{
        margin: 0;
    }
}
.borderLeft  { border-left:1px solid #f6f6f6; }
.borderRight { border-right:1px solid #f6f6f6; }
.borderBottom{ border-bottom:1px solid #f6f6f6; }
