#service_stores_verify_detail {
  .box-w49{
    width: 49%;
    display: inline-block;
    .grey-bg-color{
      background: #fff;
      color: #C7C7C7;
      text-align: center;

      .num {
        color: #43c3aa;
        font-size: 17px;
        padding: 15px 13px;
      }
    }
  }

  .today_details{
    padding: 3px 0px 14px 10px;
    font-size: 17px;
    color: #7F7E7E;
  }

  table.list-table#verify_codes {
    background-color: #fff;
    thead {
      tr {
        border-bottom: 1px solid #ddd;
      }
    }
    td, th {
      padding: 18px 0px 18px 0;
      color: #9A9696;
      font-size: 14px;
    }

    td {
      text-align: center;
    }
  }
}
