.store-cover{
    background-image: image-url('mobile/store-cover.jpg') ;
    background-size: cover;
    background-position: center;
    word-break: break-all;
    p{
        margin-bottom: 10px;
    }
    .name{margin: 0 0 10px 0;}
    .content{
        padding: 40px 10px 10px;
        background: rgba(255,255,255,0.5);
        border-radius: 4px;
    }
    .share-box{
      text-align: center;
      .cover{
        display: inline-block;
        border-radius:400px ;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img{
            min-width: 40px;
            min-height: 40px;
        }
      }
    }
}

.sort-list,.index-product-list{
    padding: 0 5px;
}
