.store-list{
   .product-box{
        margin-bottom: 8px;       
        background:#fff;
        .title{
            height: 30px;
            overflow: hidden;
            padding-top:2px;
        }        
   }   
}
.store-like{
    position: relative;
    .product-box{
        position: relative;
        .price{ 
            position: absolute;
            bottom: 0;
            right: 0;
            background: $brand-primary;
            color: #fff;
            z-index: 3;
            padding: 2px;
        }        
    }    
    .like-more{margin:150% 0;}
}
