.store-cover{
    background-image: url('mobile/store-cover.jpg') ;
    background-size: cover;
    background-position: center;
    p{
        margin-bottom: 10px;
    }
    .content{
        padding: 20px 10px 10px;
        background: rgba(255,255,255,0.5);
        border-radius: 4px;
    }
    .share-box{
      text-align: center;
      .cover{
        display: inline-block;
        border-radius:400px ;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img{
            min-width: 40px;
            min-height: 40px;
        }
      }
    }

}

.store-list{
  .service-product{
    padding: 0 10px 10px;
    margin-top: 10px;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    .cover {
      float: left;
      margin-right: 10px;
      width: 60px;

      img {
        width: 60px;
        height: 60px;
      }
    }
    .blue-color{
      color: #43C3AF;
    }
    .text{
      margin-top: 10px;
    }
    .price{
      font-size: 16px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
