<tbody class='hidden'>
  <tr id="shop-<%= shop.user_id%>">
    <td class="text-right">业务员:</td>
    <td class="text-left">
      <%= shop.clerk_name %>
    </td>
    <td class="text-left"><%= shop.clerk_mobile %></td>
    <td colspan="5"></td>
  </tr>
</tbody>