<p>您好 <%= @resource.email %>!</p>

<p>您发起了一个邮箱验证请求找回您在UBOSS的密码； 打开一下链接以进行密码修改。</p>

<p><%= link_to '修改密码', edit_user_password_url(reset_password_token: @token) %></p>

<p>如果您未在UBOSS发起任何修改申请，请忽略本邮件。</p>
<p>如果您未打开此链接，并修改密码，您的账户将不会受到任何修改。</p>
