<div class="banner-slider">
  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
      <% advertisements.each do |adv| %>
        <div>
          <%= image_tag adv.image_url(:'640x320') %>
        </div>
      <% end %>
    </div>
  </div>
  <div id='slider-points'>
    <% advertisements.size.times do |index| %>
      <span class="<%= 'active' if index == 0 %>">*</span>
    <% end %>
  </div>
</div>
