<div>
  <p>拥有你好</p>
  <p>好的东西值得分享, 当你需要的时候</p>
</div>
<br />
<div>
  <p>店铺二维码</p>
  <div class="box-w15 nogap-right">
    <div class="gap white-bg-color">
      <%= qrcode_image_tag service_store_url(shared: true) %>
    </div>
  </div>
</div>
<br />
<div>
  <p>店铺链接</p>
  <p><label><%= "#{request.protocol}#{request.host_with_port}#{service_store_path}" %></label></p>
</div>
