<div id="sku-privelege-group" class="admin-box beige-bg-color">
  <h4 class="edit-title">分成设置</h4>
  <div class="form-group sku-privilege-lvs-group">
    <label class="control-label">返利方案</label>
    <div class='sku-plvs-btns control-input'>
      <a href="#" class='btn btn-link btn-border' data-level='3'>三级返利</a>
      <a href="#" class='btn btn-link btn-border' data-level='2'>二级返利</a>
      <a href="#" class='btn btn-link btn-border' data-level='1'>一级返利</a>
    </div>
  </div>
  <div class="form-group sku-privilege-list-group">
    <label class="control-label">返利金额</label>
    <div class='sku-privilege-list control-input'>
      <p><span>请添加产品规格属性</span></p>
    </div>
  </div>
</div><!-- admin-box -->
<br  />
