
	<h1>通过注册邮箱重置密码</h1>
	<%= simple_form_for(:session,url: {:action=>:send_reset_password_email},wrapper: :vertical_form) do |f| %>
  	<%= f.input :email %>
    <div  class="button_div">
      <%= f.button :submit, "重置",class: "btn btn-large btn-primary " %>
    </div>
	<% end %>
