<div class="container  admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>个人认证</li>
	</ul>
</div>
<br />
<div class="container">
	<div class="header-tab">
		<div class="tab-title active">个人认证</div>
		<%= link_to "企业认证", url_for(controller: :enterprise_authentications, action: :index), class:"tab-title" %>
	</div>
</div>
<br />
<%= render "index_list" %>

