<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <a href='###' class="btn btn-primary col-xs-12">个人认证</a>
  </div>
  <div class="col-xs-2"><%= link_to "企业认证", url_for(controller: :enterprise_authentications, action: :new), class:"btn btn-default col-xs-12" %></div>
</div>
<div class="row">
  <%= simple_form_for :personal_authentication,url: {:action=>:create},wrapper: :horizontal_file_input do |f| %>
    <div class="col-xs-12 border_block">
      <div class="col-xs-11  col-md-offset-1">
        <h3 class="col-md-offset-1">创建个人信息认证</h3>
        <%= render 'fields', f: f %>
      </div>
    </div>
    <div class="button_div  col-xs-4  col-md-offset-4"  style="margin-top:30px;padding-bottom:30px;">
      <%= f.submit "创建",class: "btn btn-large btn-primary col-xs-12" %>
    </div>
  <% end %>
</div>
