
	  <div class="container bg">
	  		<div class="text-center">
	  			<%= image_tag("activate_page/login-image.png")%>
	  		</div>
	  		<div class="login-box box">
	  			<div class="box-w100 m-bottom10">
	  				<%= tag("input", type: 'tel', class:"tel",placeholder:"请输入手机号码") %>
	  			</div><!-- box-w100 -->
	  			<div class="box-w100">
	  				<div class="box-w65 nogap">
	  					<%= tag("input", type: 'tel', class:"cap",placeholder:"请输入验证码") %>
	  				</div>
	  				<div class="box-w35 nogap">
	  					<a class="btn btn-block send-cap disable">发送验证码</a>
	  				</div>
	  			</div><!-- box-w100 -->
	  			<br />
	  			<div class="box-w100">
	  				<a class="btn-block btn login-btn">参与抽奖</a>
	  			</div>
	  			<br />
		  		<div class="box-w100 text-box">
		  			<p><span class="orange-circle"></span> 扫码注册即可抽奖；</p>
		  			<p><span class="orange-circle"></span> 分享二维码，好友通过分享并成功抽奖后，双方皆有奖励。</p>
		  		</div>
				<p class="text-center"><small>*活动最终解释权归UBOSS所有</small></p>
	  		</div><!-- login-box -->
	  		
	  </div><!-- container -->