<div class="share-card gap" timestamp='<%= privilege_card.updated_at %>'>
  <div class="cover">
    <%= image_tag privilege_card.seller.avatar_url(:w120) %>
  </div>
  <div class="info">
    <p class="title"><%= privilege_card.seller.store_identify %></p>
    <p class="gray-color">商品共 <%= privilege_card.seller.products.published.count %> 件</p>
    <div><a href="#" class="btn share-btn">分享</a></div>
  </div>
</div><!-- share-card -->
