<% if platform_banner_data.size > 0 %>
<div class="gap-lr m-top10">
  <div class="ad-banner-slider">
    <div id='ad-slider' class='swipe'>
      <div class='swipe-wrap'>
        <% platform_banner_data.each do |image, url| %>
          <div>
            <% if url.present? %>
              <%= link_to url do %>
                <%= image_tag image.image_url(:w640) %>
              <% end %>
            <% else %>
              <%= image_tag image.image_url(:w640) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
