<% if store_banner_data(seller).size > 0 %>
  <div class="banner-slider">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        <% store_banner_data(seller).each do |image, product| %>
          <div>
            <% if product.present? %>
              <%= link_to product do %>
                <%= image_tag image.url(:'640x320') %>
              <% end %>
            <% else %>
              <%= image_tag image.url(:'640x320') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id='slider-points'>
      <% store_banner_data(seller).size.times do |index| %>
        <span class="<%= 'active' if index == 0 %>">*</span>
      <% end %>
    </div>
  </div>
	<br />
<% end %>
