<% cache ['categories', category] do %>
	<% if (@categories.size%3 == 1) %>
	<div class="box-w50">
	<% else %>
  <div class="box-w33">
  <% end %>
  	<div class="product-box">
      <div class="cover">
        <%= link_to '', store_category_path(store_id: @seller.id, id: category.id), style: "background-image:url(#{category.image_url(:w120)})",class:'img' ,title:"#{category.name}" %>
        <%= image_tag("mobile/img.jpg") %>
      </div>
      <div class="title"><%= category.name %></div>
    </div><!-- product-box -->
  </div>
<% end %>
