<% cache ['hot_product', product] do %>
  <div class="box-w30">
    <div class="product-box">
      <div class="cover">
        <%= link_to '', product, style: "background-image:url(#{product.image_url(:w120)})",class:'img' ,title:"#{product.name}" %>
        <%= image_tag("mobile/img.jpg") %>
      </div>
      <div class="price">￥<%= product.present_price %></div>
    </div><!-- product-box -->
  </div><!-- box-w30 -->
<% end %>
