<% cache ['store-product', service_product], expires_in: 1.day do %>
  <div class="service-product">
    <%= link_to service_product_path(service_product) do %>
      <div class="cover">
        <%= image_tag(service_product.image_url(:w320)) %>
      </div>
    <% end %>
    <div class="text"><%= service_product.name %></div>
    <div class="text blue-color">￥<span class="price"><%= service_product.present_price %></span></div>
  </div>
<% end %>
