<%= render 'public' %>
<br />
<div class="container">
	<div class="header-tab">
		<div class="tab-title active">验证明细</div>
		<%= link_to "商品统计", statistics_admin_verify_codes_path, class:"tab-title" %>
	</div>
</div>
<br />
<%= render 'table_list' %>
