input,input:focus{
    outline:none;
    border:1px solid #ddd;
    -webkit-appearance: none;
    display: inline-block;
    padding: 2px 4px;
    line-height: 20px;
    color: #999;
    
   
}
input:focus{
    border-color: $brand-primary;
    color: #333;
}
.input-block{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

