header {
  position: relative;
  .header-bar {
    text-align: center;
    overflow: hidden;
    line-height: 20px;
    .logo{height: 20px; margin-left: 58px;padding:10px 0;}
    .title{
      margin:10px 0 10px 42px;
      display: inline-block;
      font-size: 20px;
      color:$brand-primary;
      line-height: 20px;
      width: 190px;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow: hidden;
    }
    .menu-btn{
      float: right;
      padding: 10px;
      img{ width: 21px;}
    }
  }
  .nav-bar{
    display: none;
    position: absolute;
    z-index: 50;
    top:45px;
    right:5px;
    background: #fff;
    border-radius:4px ;
    a{
      color:$brand-primary;
      display: block;
      border-top: 1px solid #eee;
      padding: 10px;
      font-size: 14px;
      line-height: 20px;
      
    }
    li:first-child{
        a{ border-top:none ;}
    }
  }
  .nav-bar:before{
    content: ' ';
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    
  }
}

