header {
  background-color: $brand-primary;
  .header_bar {
    height: 45px;
    font-size: 14px;
  }
  .nav_bar a {
    color: #fff;
  }
}
.nav-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: -18px;
  img {
    height: 16px;
    width: 21px;
  }
}
