.page-title{ 
    color: $brand-primary; 
    padding: 8px 0;
    font-size: 14px;
}

.like-color{ color: #f9ba10;}
.page-title .more-bar { 
  color: #b6b6b6;
  font-size: 11px; 
  float: right;
  img{ height: 15px; margin-left: 5px;}
 }
.product-box{
    .title{
      font-size: 13px;
      padding:2px 0;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
      a{
          color: #414141;
      }
    }
    .price{
      font-size: 11px;
      color: $brand-primary;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
      span{
          text-decoration:line-through;
          color: #b6b6b6;
          font-size: 9px;
          display: inline-block;
          
      }
    }
}
.border-box { border-bottom: 1px solid #dcdcdc; padding-bottom: 5px;}
