.using-pwd {
  .cap-inputs {display: none;}
  .pwd-inputs {display: block;}
}
.using-cap {
  .cap-inputs {display: block;}
  .pwd-inputs {display: none;}
}

.login-type-acs {
  text-align: center;
  margin: 15px 0;
  border-bottom: 1px solid $brand-primary;
  a {
    color: $brand-primary;
    width: 48%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 0;
  }
  .lpwd-btn {float: right}
  .lcap-btn {float: left}
}
.using-pwd .lpwd-btn, .using-cap .lcap-btn {
  background-color: $brand-primary;
  color: white;
}
.cap-inputs {
  position: relative;
}

.login-container{
  width: 250px;
  margin: 30px auto 0;
  input[type=text], input[type=password] {
    -webkit-appearance: none;
  }
  p {
    color: rgba(67,195,170,1);
  }
  .action-link-btn {
    display: inline-block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
    color: rgba(67,195,170,1);
  }
  h2 {
    font-size: 2.2em;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    color: rgba(67,195,170,1);
  }
  .form-group {
    margin-bottom: 15px;
    position:relative;
  }
  label {
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
    margin: 0 0 5px 15px;
    color: #777;
  }
  .form-control {
    &:focus {
      border-color: rgba(67,195,170,1);
      outline: 0;
    }
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(67,195,170,1);
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .help-block {
    display: none;
  }
  .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    label {
      margin-left: 0px;
      min-height: 20px;
      margin-bottom: 0;
      font-weight: normal;
      cursor: pointer;
    }
  }
  input[type=submit]{
    margin-top: 15px;
    width: 100%;
    background-color: rgba(67,195,170,1);
    padding: 10px;
    color: #fff;
    font-weight: 500;
  }
  #captcha {
    @extend .form-control
  }
  .simple-captcha-img {
    float: left;
    img {
      height: 34px;
      border-radius: 5px;
    }
  }
  .simple-captcha-field {
    margin-left: 90px;
  }
  .simple-captcha a, .send_mobile {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    background-color: $brand-primary;
    color: white;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    &.disabled {
      background-color: #ccc;
    }
  }
}
