.text-center {text-align: center;}
.text-right {text-align: right;}
input:disabled {background-color: #aab0b1}
/*textarea,input,select {background-color:#f9f6bd}*/
textarea,input,select {
/*  border: 1px solid #cccccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;*/
}
.undis {
    display: none;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
    clear: both;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-12 {
  margin-left: 100%;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.white {color: white;}
.green {color: #30c4ab;}
.yellow {color: #ccff00;}
.grey {color:gray;}
.black {color: black}
.line-through {text-decoration:line-through;}
.bg_green {
  background-color: #30c4ab;
  &:disabled {background-color:#b5d4cf}
}

.bg_grey {background-color: #e9e9e7}
.bg_white {background-color: white;}
.content {padding:2% 0 2% 0;width:100%}
/*.content img {width:100%;}*/

.heading {
  height: 30px;
  padding-top: 10px;
}
.margin {margin: 5px;}
.product_list {
  background-color: white;
  float: left;
}
.product_list .img {
  width:100%;
  height:150px;
  overflow: hidden;
}
.product_list .img img {
  height:150px;
  max-width:180px;
}

.window {
  height: 100%;
  width: 100%;
  background: none repeat scroll 0 0 rgba(049, 049, 049, 0.8) !important;
  position: fixed;
  z-index: 9999;
}
.window .block_bottom {
  position: absolute;
  bottom:0px;
}

.bottom-flow {
  bottom: 0;
  width: 100%;
  position: fixed;
  _position: absolute;
  z-index: 100;
}

/*after adding new frontend 2015.7.8*/
.index_ul li {
  border-top: 1px solid black;
  float: left;
  width: 300px;
  padding: 10px;
  background-color: white;
}
ul.index_ul li:last-child {
  border-bottom: 1px solid black;

}
.index_ul a {
  text-decoration: none;
}
.add_inout img {
  margin-bottom: -3px;
  height: 16px;
  margin-left: 5px;
}
.add_inout .center_content {
    margin-left: 15px;
    width: 40%;
    border: none;
    display: inline-block;
}
.add_inout .right_content {
    float: right;
}
#load-more {
  color: #fff;
  padding: 8px;
  text-align: center;
  width: 200px;
  margin: 5px auto;
  border-radius: 0.2rem;
  background-color: lighten(#43c3aa, 10%);
  &.done {
    background-color: lighten(#43c3aa, 20%);
  }
  &.loading {
    background: image-url("ajax-loader.gif") no-repeat 50px;
    background-size: 16px;
    background-color: lighten(#43c3aa, 10%);
  }
}
.footer {
  line-height: normal;
  padding: 1% 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.p_img.good{
  background-image: image-url("img/fav_comment.png");
}
.p_img.normal{
  background-image: image-url("img/Average.png");
}
.p_img.bad{
  background-image: image-url("img/Negative_Ratings.png");
}
.add_text_2 {
  border:0;
}
.add_text_2#send_mobile{
  border-radius: 5px;
  background-color: #43c3aa;
  font-size: 12px;
  padding: 6px 15px;
}
.add_text_2#new_mobile{
  width: 55%;
}
.flash_css{
  margin: 5px 0;
}

.alert .close {
  line-height: 20px;
  position: relative;
  right: 0px;
  top: 0px;
  // font-size: smaller;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.add_conts {
  padding-bottom: 20px;
}
