.new-order-addr-info {
  background: white;
  border-bottom: 1px solid #ccc;
  .add_line1 {
    border: none;
  }
}

.pay-result {
  padding: 15px 0;
  text-align: center;
  background: #fff;
  line-height: 1.5;
  h1 {
    margin: 10px 0;
    font-weight: 500;
  }
  p {
    margin-bottom: 10px;
  }
}
.unpay-result {
  border-top: 1px solid #ccc;
  padding: 15px;
  text-align: left;
  line-height: 1.5;
  background-color: white;
}
.pay-comment {
  padding: 15px;
  line-height: 1.5;
  font-size: 0.8em;
  color: #777;
}

.btn-container {
  padding: 15px;
}
.order-status-bar {
  padding: 8px 15px;
  background-color: #777;
  color: #fff;
  font-size: 14px;
}
.order-store-info {
  padding: 8px 15px;
  background: #fff;
  &> div{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    &:last-child {
      border-bottom: none;
    }
  }
}
