#order_item_refund, #order_item_refund_show, #order_item_refund_consult_info {
  font-size: 17px;
  .order-box-img {
    height: 140px;
  }

  .refund-box {
    background: #fff;
    padding: 10px;
    line-height: 25px;
    overflow: hidden;
  }

  .color{
    color: #9999AC;
  }

  .padding-left-10 {
    padding-left: 10px;
  }

  label[for='order_item_refund_asset_imgs'] {
    display: none;
  }
}

.fileinput-button {
  display: inline-block;
  position: relative;
}

.fileinput-button img {
  height: 140px;
}


.fileinput-button input {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  height: 136px;
  width: 181px;
  direction: ltr;
  cursor: pointer;
}

.fileinput-button .loading {
  display: none;
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 5;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  background: #333;
  color: #fff;
  border-radius: 4px;
}
