input[type=submit] {
  -webkit-appearance: none;
}
.upass.main .head {
  position: relative;
}
.sub_btphon {
  width: 50%;
}
.sub_w {
  margin-top: 5px;
}
.subOrd_boxcont p span.sub_right{
  width: auto;
}
.subOrd_boxcont span img{
  padding-top: 8px;
}
.dlg {
  overflow: scroll;
}
.contpric .contpric_left{
  width: auto;
}

.product-info-title{
  padding: 10px;
  text-align: center;
  background-color: rgba(67,195,170,1);
  color: white;
}

.accunt_adilbtn{
  -webkit-appearance: none;
}

.sub_right .tow{
  @extend a;
	color: rgba(131,131,131,1);
	border-left: none;
	border-right: none;
  padding: 0;
  border-radius: 0;
}
.add_line1 {
  padding: 10px 0;
}
.sub_btphon, .sub_yanzhcont {
  color: #000;
  -webkit-appearance: none;
}
.sub_box3_cont1 table {
  border-bottom: none;
}
.nav_bar {
  background-color: rgba(67,195,170,1);
  text-align: left;
  font-weight: 500;
  position: initial;
}
.nav_bar ul li{
  height: auto;
  padding: 10px;
}
.upass.main .container {
  padding-top: 0;
  margin-top: 0px;
}
.upass.main .head .bottom.right {
  background-color: #eee;
  border-radius: 3px;
}
.upass.main .head .log_font{
  font-weight: 500;
  width: 180px;
  margin-left: -85px;
  overflow: hidden;
}
.my_retur{
  width: 75px;
  background-color:rgba(67,195,170,1);
  border: none;
  color: rgba(255,255,255,1);
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
    font-weight: normal;
}
.my_acuntcont .my_img img{
  width: 60px;
  min-height: 60px;
  padding-top: 10px;
  overflow: hidden;
}
.add_inout p{
  display: block;
  height: 60px;
  line-height: 60px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(204,204,204,1);
  font-size: 14px;
}

.y_commentnox2 a{
  width:30.6%;
  float: left;
  border: 1px solid rgba(170,170,170,.46);
  box-sizing:border-box;
  height: 100px;
  margin-bottom: 27px;
  text-align: center;
  color:rgba(68,194,170,1);
  line-height: 142px;
  background-repeat: no-repeat;
  background-position:  center 13px;
  background-size: 38px 39px;
  background-color: rgba(255,255,255,1);
}
.y_commentnox2 a:hover{
  border: 3px solid rgba(67,195,170,1);
  border-radius: 5px;
}
a.y_hover {
  border: 3px solid rgba(67,195,170,1);
  border-radius: 5px;
}
.y_commentnox2 a:nth-child(2n+1){
  background-image: url("img/fav comment.png");
  float: left;
}
.y_commentnox2 a:nth-child(2n+2){
  background-image: url("img/Average.png");
  margin-left: 4%;
}
.y_commentnox2 a:nth-child(2n+3){
  background-image: url("img/Negative Ratings.png");
  float: right;
}
.prdv_img img {
  height: 100%;
}
.fenxinag{
  width: 100%;
  background-color: rgba(255,255,255,1);
  border-top: 1px solid  rgba(186,186,185,.5);
  border-bottom: 1px solid  rgba(186,186,185,.5);
  text-align: center;
  color: rgba(67,195,170,1);
  height: 171px;
}
