.upass.main .head {
  position: normal;
}

.sub_btphon {
  width: 50%;
}

.sub_w {
  border-top: 1px dashed  rgba(186,186,185,.7);
  margin-top: 5px;
}

.subOrd_boxcont p span.sub_right{
  width: auto;
}

.subOrd_boxcont span img{
  padding-top: 8px;
}

.contpric .contpric_left{
  width: auto;
}

.product-info-title{
  padding: 10px;
  text-align: center;
  background-color: rgba(67,195,170,1);
  color: white;
}

.accunt_adilbtn{
  -webkit-appearance: none;
}
