.banner-slider {
  position: relative;

}
#slider-points {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  span {
    height: 8px;
    width: 8px;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
    text-indent: -999px;
    overflow: hidden;
    margin: 0 3px;
    &.active {
      background-color: $brand-primary;
    }
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  a{display: inline-block;}
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.img-100-200{ 
    background-position: center center;
    background-size:cover ;
    width: 100%;
    display: block;
    height: 180px;
}
@media screen and (max-width:414px){
    .img-100-200{         
        height: 230px;
    }
}
@media screen and (max-width:375px){
    .img-100-200{         
        height: 200px;
    }
}
@media screen and (max-width:320px){
    .img-100-200{         
        height: 180px;
    }
}


