<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>供货店铺：<%= @supplier_store.store_name %></li>
	</ul>
</div>
<br />
<div class="container nogap ">
	<div class="box-w25">
		<div class="admin-box blue-bg-color">
      <h4>商品数</h4>
    	<h1 class="num"><%= @statistics[:count] %></h1>
		</div>
	</div>
</div>
<br />
<div class="container  mod-inner">
  <%= render partial: 'admin/products/products', locals: { products: @supplier_products } %>
</div>

<%= paginate @supplier_products %>
