<%= render 'public' %>
<br />
<div class="container">
	<div class="header-tab">
		<div class="tab-title active">评价详情</div>
		<%= link_to "团购统计", statistics_admin_evaluations_path, class:"tab-title" %>
	</div>
</div>
<br />

<%= render 'table_list_index' %>
