<div class="modal fade" id="close_admin_order_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p class="text-center close_title" id="myModalLabel">你确认关闭交易么</p>
      <p class='text-center close_info'>请您在与买家达成一致的前提下, 使用关闭交易这个功能哟!</p>
      <div class="text-center close_btn">
        <button type="button" class="btn btn-default" data-dismiss="modal">点错了</button>
        <%= link_to '关闭交易', close_admin_order_path(@order), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
