/*header*/
html,body{
    height: 100%;
    min-height: 100%;
    background: #1E1E1E;
    word-break: break-all;
}
header{
    background: rgba(0,0,0,0.5);
    background: #333\9;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 88;
    ul{
        padding: 0;
        margin: 0;
    }
    nav > ul > li{
        display: inline-block;
        padding: 0;
        margin: 0 20px;
        font-size: 16px;
    }
    nav > ul > li > a{
        display: block;
        padding: 10px;
        color: #fff;
    }
    .btn-tag a{
        background:#43c3aa ;
        border-radius:6px ;
    }
}
.w80{    
    display: inline-block;
    width: 80%;  
}

.page1{
    background:image-url('new_desktop/bg.png') repeat-x top center #fff;
    background-size:100% ;
    color: #fff;
    position: relative;
}
.page1:before{
    position: absolute;
    top: 49%;
    left: 0;
    width: 100%;
    content: ' ';
    height: 4px;
    background: #43c3aa;
    z-index: 0;
}
.page2{
    padding-top: 100px;
    background: #fff;
    .text{
        margin-top: 100px;
    }
    .content{
        margin-left: 46px;
        font-size: 16px;
        color: #333;
    }
}
.page3{
    padding-top: 100px;
    background: #fff;
}
.page4{
    padding-top: 100px;
    background: #fff;
    h4{
        font-weight: lighter;
        
    }
}
.page5{
    padding-top: 100px;
    background: image-url('new_desktop/footer.png') bottom center no-repeat #fff;
    h1,h3{
        font-weight: lighter;
    }
    h1{
        font-size: 54px;
        letter-spacing: 3px;
    }
    h3{
        font-size: 25px;
        letter-spacing: 3px;
    }
}
.page6 {
    background: image-url('new_desktop/footer-img.jpg') top center no-repeat #1F1F1F;
    background-size:cover ;
    color: #fff;
    overflow: hidden;
    font-weight: lighter;
    padding-bottom: 210px;
    h2{        
        font-weight: lighter;
    }
    .copyright{
        padding: 60px 0 20px;
        background: image-url('new_desktop/footer-bg.png') top center no-repeat;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0px;
    }
    
}
.banner{
    background:image-url('new_desktop/slide.jpg') bottom center no-repeat #1e1e1e;
    background-size: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    .content{
        display: inline-block;
    }
    .top{
        text-shadow: 3px 3px 30px rgba(0,0,0,0.4);
    }    
    h1{
        font-size: 140px;
        font-family: "Impact";
        margin-bottom: 0px;
        
    }
    h2{
        font-weight: lighter;
        font-size: 47px;
        font-family: "Microsoft JhengHei","STHeiti Light";
    }
    h3{
        font-weight: lighter;
        font-size: 25px;
        letter-spacing: 3px;
    }
}
#arrow-down{
    position: absolute;
    bottom: 20px;
    margin-left: -15px;
    left: 50%;
    z-index: 888;
}
.qrcode-box{
    font-size: 20px;
    color: #43c3aa;
    line-height: 25px;
    display: inline-block;
    margin-bottom: 100px;
    .content{
        padding: 53px 0 0 0;
        overflow: hidden;
        text-align: left;
    }
    img{
        float: left;
        margin-right: 40px;
    }
}
.title-bar{
    background: image-url('new_desktop/title-bg.png') center bottom no-repeat;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 15px 0 30px;
    font-size: 15px;
    letter-spacing: 2px;
    h1{
      font-weight: lighter;
      margin: 0;
      font-size: 36px;
    }
}

.bg-white{background: #fff;}
.video-list{  
    .title{
        background: image-url('new_desktop/video-bg.png') bottom center no-repeat;
        text-align: center;
        padding:5px 0 15px;
        font-size: 16px;
        
    }
}
.video-banner{
    border: 5px solid #43c3aa;
    background: #000;
    height: 290px;
    position: relative;
    cursor: pointer;
    .play-icon{
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 40px;
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
    }
    
}
.video-bg {
    position:fixed;
    top:0;
    left:0; 
    height:100%;
    min-height:100%; 
    width:100%;
    background:rgba(0,0,0,0.5);
    z-index:88;
    overflow:hidden;
    .video-content{
        position:fixed;
        left:50%;
        top:50%;
        width:600px;
        height:400px;
        margin-top:-210px;
        margin-left:-310px;
        z-index:99;
        border:10px solid #fff;
        border-radius:10px;
        background:#fff;
    }
    .video-box { position:relative;}
    .close {
        cursor: pointer;
        position:absolute;
        top:-30px;
        right:-30px;
        background:#fff; 
        height:35px;
        width:35px;
        border:4px solid #333;
        text-align:center;
        line-height:33px;
        font-size:25px;
        border-radius:500px;
        color:#333;
        text-shadow: 2px 2px 5px #999;
    }
}
.profit-icon{
    background: image-url('new_desktop/profit.png') no-repeat;
    height: 170px;
    display: inline-block;
}
.profit1{
    width: 102px;
}
.profit2{
    width: 120px;
    background-position-x:-270px ;
}
.profit3{
    width: 111px;
    background-position-x:-556px ;
}
.profit4{
    background-position-x:-833px ;
    width: 118px;
}
.footer-qrcode span{
    border: 5px solid #43c3aa;
    display: inline-block;
}
.price-box{
    display: table;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border: 10px solid #43c3aa;
    border-radius: 500px;
    overflow: hidden;
    color: #43c3aa;
    line-height: 1;
    .content{
        display: table-cell;
        
        vertical-align: middle;
    }
    .price{
        font-size: 180px;
        font-weight: lighter;
        font-family: serif;
    }
    .unit{
        font-weight: bold;
        font-size: 30px;
    }
}
.pirce-icon:after{
    width: 10px;
    height: 100px;
    background: #43c3aa;
    margin: 0 auto;
    display: block;
    content: ' ';
}
.btn{
    background: none;
    color: #43c3aa;
    padding: 15px 30px;
    border: 2px solid #43c3aa;
    font-size: 25px;
    border-radius:10px ;
    transition: all .2s linear; 
    
}
.btn:hover{
    background: #43c3aa;
    transition: all .2s linear; 
}
.btn-bold{
  border-width: 5px;
  font-weight: bold;
  padding: 20px 40px;
  font-size: 30px;
}
.btn-shadow{
  background: none;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  box-shadow: 3px 3px 30px rgba(0,0,0,0.4);
  transition: all .5s linear; 
}
.btn-shadow:hover{
    color: #fff;
    border-color:#fff ;
    text-shadow:none;
    background: none;
    box-shadow: 0px 0px 50px rgba(233,212,74,0.4);
    transition: all .5s linear; 
}

