<ul class="nav nav-pills nav-stacked nav-suppliers">
  <li role="presentation" class="<%= from == 'valid_agent_products' ? 'active' : 'inactive' %>"><%= link_to "可代销商品", admin_sellers_valid_agent_products_path %></li>
  <li role="presentation" class="<%= from == 'my_suppliers' ? 'active' : 'inactive' %>"><%= link_to "我的供销商", my_suppliers_admin_sellers_path %></li>
</ul>
