<div class="bg-white">
  <div class="box-m40 text-center">
    <br />
    <h2>暂未收到订单支付结果</h2>
    <br />
    <div class="gray-color">支付结果可能会有几分钟延迟，您可以刷新结果或稍晚查看我的订单。</div>
    <br />
  </div>
</div><!-- bg-white -->