<%= content_for :page_title do %>
  验证券
<% end %>

<%= content_for :header_left do %>
  <a class="back" href="/account"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<div class="tab-nav m-top10">
	<a class="tab border-right active" href="/account/verify_codes">验证券</a>
	<a class="tab" href="/account/verify_codes/lotteries">奖券</a>
</div>

<% @service_orders.each do |order| %>
  <%= render partial: "verify_codes/verify_code/#{order.type.underscore}", locals: { order: order } %>
<% end %>
