<%= content_for :page_title do %>
  验证券
<% end %>

<%= content_for :header_left do %>
  <a class="back" onclick="history.go(-1)"><%= image_tag 'mobile/right.png' %></a>
<% end %>

<br />

<div class="order-list">
  <span>验证券密码：</span>
  <% @verify_codes.each do |verify_code| %>
    <p><%= verify_code.code %></p>
  <% end %>
</div>
