<div class="container">	
	 
	<div class="text-center gap">
	<% if(1==1) #刮奖 %>
		<div class="lottery-box">
			<div class="border-line">
				<h3>一大波好礼坐等领取</h3>
				<div id="lotteryContainer"></div>
			</div>
		</div><!-- lottery-box -->
	<% else %>
		<div class="activate-info">
			<div class="border-line">
				<h3>中奖信息之类的东西</h3>
			</div>
		</div><!-- activate-info -->
	<% end %>
	</div>
	<div class="share-img-box">
		<%= image_tag('mobile/lady.jpg')%>
	</div>
	<br />
</div>
<% if(1==1) #刮奖 %>
<script type="text/javascript">
  window.onload = function () {
    var lottery = new Lottery('lotteryContainer', '#bebebe', 'color', 280, 60, drawPercent);
    lottery.init("", 'text');
    var sd= false;
    function drawPercent(percent) {
      if( percent > 2){
	  		if(sd == false){
          console.log("1");
          $.ajax({
            url: 'promotion_activities/draw_prize',
            type: 'GET',
            data: {
              activity_info_id: "<%= @live_activity_info.id %>"
            },
            success: function(res) {
              console.log("res", res);
	      	    lottery.init(res['success'], 'text');
            },
            error: function(data, status, e) {
              console.log('data, status, e', data, status, e);
              return alert("操作错误");
            }
          });

	      	//lottery.init("zz", 'text');
	      	sd=true;
	  	  }
      }
    }
  }
</script>
<% end %>
