<div class="text-center"><%= image_tag 'mobile/city-slideshow/1.jpg' %>	</div>
<div class="text-center"><%= image_tag 'mobile/city-slideshow/2.jpg' %>	</div>
<div class="text-center"><%= image_tag 'mobile/city-slideshow/3.jpg' %>	</div>
