<div class="banner-slider">
  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
      <div>
        <a href="/"><img src="http://dummyimage.com/320x240/cecece/000000.jpg" alt="" /></a>
      </div>
      <div>
        <a href="/"><img src="http://dummyimage.com/320x240/cec/000000.jpg" alt="" /></a>
      </div>
      <div>
        <a href="/"><img src="http://dummyimage.com/320x240/aaa/000000.jpg" alt="" /></a>
      </div>
    </div>
  </div>
  <div id='slider-points'>
    <span class='active'>*</span>
    <span>*</span>
    <span>*</span>
  </div>
</div>
