<%= content_for :page_title do %>
  UBOSS
<% end %>

<style type="text/css" media="all">
.release-info {
  text-align:center;
  color: #43c3aa;
  margin: 0 auto;
  margin-top: 35px;
  padding: 15px;
  font-weight:800;
}
h2{
  font-size:2em;
  line-height: 1.5;
}
h1{
  font-size:2.5em;
  line-height: 1.2;
}
img{
  width: 160px;
}
</style>
<div class='release-info'>
  <h2>UBOSS</h2>
  <hr />
  <h2>基于人，超乎想象</h2>
  <h1>尽请期待</h1>
  <br />
  <%= image_tag 'uboss_logo.png' %>
</div>
