<div class="qr-modal pop-bg">
  <div class="pop-content">
    <div class="img-box"><img src="<%= @qrcode_img_url %>" alt="" /></div>
    <br />
    <div class="white-color">长按图片保存到手机，分享给朋友</div>
  </div>
</div>
