<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta id='MobileViewport' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <style>
    		*{margin: 0;padding: 0;border: 0; outline: 0; vertical-align: middle; text-decoration: none;}
    		img{max-width: 100%;}
    		html{background: #333;}
    		.container{ width: 100%;max-width: 800px; overflow: hidden;}
    </style>
  </head>
	<body>
		<div class="container">
				<br />
		    <div style="padding: 20px;"><img src="<%= @qrcode_img_url %>" alt="" /></div>
		    <div style="color: #fff;line-height: 150%;padding: 20px;">
		    		<div style="text-align: center;">
		    			<%= image_tag("mobile/other-page/arrow-up.png",width:80) %>
		    		</div>
		    		<br/>
		    		<p>长按图片保存到手机，分享给朋友，朋友购买获得优惠， 自己获得收益。</p>
		    		<p>点击<a href="/account/income" style="color:#f9ab10">【我的收益】</a>即可提现入账。</p>
		    	</div>
		</div>
	</body>
</html>
