	<p class="fileinput-button" id="add_category_img">
		<%= image_tag(@image, class:"clean",style:"height: 80px;") %>
    <%= file_field_tag "image", class: "upyun_file_json" ,  data: {to: "#{@url}"} %>
		<b class="loading"><i class="fa fa-spinner"></i></b>
	  <div style="font-size:10px;">(点击图片进行替换)</div>
	</p>
