<div class="new_category">
  <p class="close" data-id="<%= @category.id %>" data-type="category">关闭</p>
  <p><%= "分组:#{@category.name}" %></p>
  <div class="fileinput-button">
    
    <%= image_tag(@image, class:"clean",style:"height: 80px;") %>
    <%= file_field_tag "image", class: "upyun_file_json" ,  data: {to: "#{@update_image_url}"} %>
    <b class="loading"><i class="fa fa-spinner"></i></b>
    <div style="font-size:10px;">(点击图片进行替换)</div>
  </div>

</div>
