<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">商品&店铺</li>
	</ul>
</div><!-- container -->
<br />
<div class="container nogap">
	<p class="fileinput-button">
		<%= upyun_meta_tags prefix: "asset_img/avatar" %>
		<% if current_user.store_logo_url.blank? %>
			<%= image_tag("admin/no-img.png", class:"clean",style:"height: 80px;") %>
		<% else %>
			<%= image_tag(current_user.store_logo_url(:thumb), class:"clean", style:"height: 80px;")%>
		<% end %>
			<%= file_field_tag "image", class: "upyun_file_json" ,  data: {to: "/admin/stores/#{current_user.id}/updata_store_logo"} %>
		<b class="loading"><i class="fa fa-spinner"></i></b>
	</p>
	<div style="font-size:10px;">(点击图片进行替换)</div>
</div>

