<div class="modal fade" id="approve-return-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="margin:15% auto;width:60%;height:50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class='close' aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel" style="text-align:center;">同意退货申请</h5>
      </div>

      <%= form_for @order_item_refund, url: approved_return_admin_order_item_order_item_refund_path(@order_item, @order_item_refund) do |f| %>
        <div class="modal-body">
          <div class='form-group'>
            <label class="control-label">退货地址：</label>
            <div class="control-input">
              <ul>
                <li><input name="return_address" type="radio" value="1" /> 扎西 18292930234 广东省 深圳市 XXXXXXXXXXXXXX</li>
                <li><input name="return_address" type="radio" value="2" /> 扎西 18292930235 广东省 深圳市 XXXXXXXXXXXXXX</li>
                <li><input name="return_address" type="radio" value="3" /> 扎西 18292930236 广东省 深圳市 XXXXXXXXXXXXXX</li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">退货说明：</label>
            <textarea class="control-input" cols="60" rows="4" name="return_message" id="return_message" style="border:1px solid #e5e5e5;width:80%;"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <%= f.submit '发送退货地址', class: "btn btn-info" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
