<div class="modal-body" style="color:#000;">
  <p class='text-center close_info'>您确定要UBOSS介入？</p>
  <div class="text-center close_btn">
    <%= link_to '确定', [:applied_uboss, :admin, @order_item, @order_item_refund], class: 'btn btn-large btn-default' %>
  </div>
</div>
