<div class="modal fade" id="decline-receive-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="margin:15% auto;width:60%;height:50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class='close' aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel" style="text-align:center;">拒绝确认收货</h5>
      </div>

      <%= horizon_form_for @refund_message, url: declined_receive_admin_order_item_order_item_refund_path(@order_item, @order_item_refund) do |f| %>
        <%= render 'fields', f: f, reasons: RefundMessage::DECLINE_RECEIVE %>
      <% end %>

    </div>
  </div>
</div>
