<div class="modal fade" id="<%= "refund_#{page}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="margin:15% auto;width:60%;height:50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class='close' aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel" style="color:#000;text-align:center;"><%= title %></h5>
      </div>

      <%= render page %>

    </div>
  </div>
</div>
