<div class="modal fade" id="<%= "refund_#{page}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class='close' aria-hidden="true">&times;</span></button>
        <h5 class="modal-title text-center" id="myModalLabel"><%= title %></h5>
      </div>

      <%= render partial: "admin/order_item_refunds/#{page}" %>

    </div>
  </div>
</div>
