<%= upyun_meta_tags prefix: 'asset_img/avatar' %>

<%= content_for :page_title do %>
  <div>
    <%= link_to order_item_order_item_refund_path(order_item_id: @order_item.id, id: @refund.id) do %>
      <i class="fa fa-chevron-left"></i>
    <% end %>
    修改退款申请
  </div>
<% end %>
<br />
<%= render 'form' %>

<a id='uploadfile' href="#">UPLOADFILE</a>
