<%= content_for :page_title do %>
  服务选择
<% end %>
<br />
<div class="service-select">
  <%= link_to  new_order_item_order_item_refund_path(order_item_id: @order_item.id, refund_type: 'return_goods_and_refund') do %>
		<h4>退货退款</h4>
		货已收到，需要退货并退款
	<% end %>
  <%= link_to  new_order_item_order_item_refund_path(order_item_id: @order_item.id, refund_type: 'receipted_refund'),class:'icon1' do %>
  	<h4>已收到货，仅退款</h4>
  	与卖家协商同意退款
	<% end %>
  <% if @order_item.order.shiped? %>
    <%= link_to  new_order_item_order_item_refund_path(order_item_id: @order_item.id, refund_type: 'unreceipt_refund'),class:'icon2' do %>
    	<h4>未收到货，退款</h4>
    	订单状态为已发货，但实际还未收到货
    <% end %>
  <% end %>
</div>