<link rel="stylesheet" type="text/css" href="/pinus.css">

<section class="block">
    <div class="content2">
        <div class="app">
            <label class="text_amount">
              <%= text_field_tag :amount, @order.pay_amount, placeholder: '金 额'  %>
              <%= hidden_field_tag :order_id, @order.id %>
            </label>

            <div class="ch">
              <span class="up" onclick="wap_pay('upmp_wap')">银联WAP(upmp)</span>
              <span class="up" onclick="wap_pay('upacp_wap')">银联WAP(upacp)</span>
              <span class="up" onclick="wap_pay('alipay_wap')">支付宝WAP</span>
              <span class="up" onclick="wap_pay('bfb_wap')">百付宝WAP</span>
              <span class="up" onclick="wap_pay('yeepay_wap')">易宝WAP</span>
            </div>
        </div>
    </div>
</section>

<script>
    function wap_pay(channel) {
        var order_id = $('#order_id').val();

        $.ajax({
          url: '/charge',
          method: 'POST',
          data: {
            channel: channel,
            order_id: order_id
          },
          complete: function(xhr, state){
            console.log(xhr.responseText);
            pingpp.createPayment(xhr.responseText, function(result, err) {
              console.log(result);
              console.log(err);
            });
          } 
        })
    }
</script>
