<div class="box-w70">
  <div class="admin-box beige-bg-color">
    <h4 class="edit-title">退款理由</h4>
    <%= f.input :reason %>
    <br />
    <div class="form-actions text-center">
      <%= f.submit @reason.new_record? ? '创建' : '保存', class: "btn btn-large" %>
    </div>
  </div>
</div>
