<div class="index_list">
  <table class="list-table">
    <thead>
      <tr>
        <th>退款理由</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% reasons.each do |reason| %>
        <tr>
          <td><%= reason.reason  %></td>
          <td><%= reason.created_at %></td>
          <td>
            <% if can? :update, reason %>
              <%= link_to url_for(action: :edit, id: reason.id), class:'edit-icon', title: '编辑' do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>

              <%= link_to admin_refund_reason_path(reason),
                method: :DELETE, class:'change-status-btn edit-icon',
                data: {confirm: "确定删除理由 #{reason.reason} ?"} do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
