.inline-form {
  .edit_carriage_template {
    .chosen-container.chosen-container-multi {
      display: none;
    }
  }
}
.carriage_template_index_wrapper {
  .carriage_template_table_list {
    font-size: 13px;
    margin-top: 17px;

    table {
      width: 100%;
      tr, th, td{
        border: 2px solid #D2D0D0;
      }

      td, th {
        padding: 4px;
      }

      thead {
        th {
          background-color: #D8D8D8;
          text-align: center;
        }
      }
      tbody {
        tr {
          background-color: #EEEDEE;
        }
        td {
          text-align: center;
        }
      }
    }

    .table_head_name {
      background-color: #595959;
      padding: 12px;
      font-size: 17px;
      color: #C3C3C3;
    }
    .header_label_right {
      float: right;
      font-size: 13px;
      span {
        color: #C3C3C3;
      }
      a {
        color: #43C3AA;
        padding-left: 30px;
      }
    }
  }
}
