input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  box-sizing: border-box;
  outline:none;
  border:none;
  border-radius: 4px;
  line-height: 20px;
  background: #fff;
  color: #999;
  &.input-block{
    display: block;
    width: 100%;
  }
  &.border-bottom-input{ 
    padding: 0 4px 8px;
    border-bottom: 1px solid #ddd;
    background: none; 
  }
  &.main-color { color:#43C3AA}
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus{ 
  color:#1a1a1a; 
  outline: none;
  &.main-color { color:#43C3AA}
  
}

 .form-group{
   margin-bottom: 20px;
   padding-right:13px;
   .control-label{
     float: left;
     width: 130px;
     padding-left:13px;
     margin-right: 10px;
     font-size: 15px;
     box-sizing: border-box;
     line-height: 36px;
   }
   .control-label.pull-right {
     float:right;
     margin-left: 10px;
     margin-right: 0;
   }
   .control-input{
     overflow: hidden;
     .text-margin{
       margin:8px 0px;
       display: inline-block;
     }
     .btn{
       margin: 5px 0;
     }
   }
   .control-input span input{
     margin:0 10px;
     vertical-align: middle;
   }
   .control-input .control-txt{
     padding:8px;
     display: block;
     background: #fff;
     color:#999;
     border-radius: 4px;
   }
   input[type="text"],
   input[type="password"],
   input[type="email"],
   input[type="url"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="week"],
   input[type="number"],
   input[type="search"],
   input[type="tel"],
   input[type="color"],
   select,
   textarea{
     display: block;
     width: 100%;
   }
   input.input-mini {
     width: 80px;
   }
   abbr[title='必填'] {
     border: none;
     color:red;
     float: right;
     margin-left: 2px;
   }


 }



 p.help-block {
   font-size: smaller;
 }
 .inline-form {
   form{
     display: inline-block;
     text-align: left;
   }
   .inline-label{display: inline-block;padding:8px;}
   p.help-block{
     padding:8px 0 8px 140px;
    }
   span.help-block{ margin-left:10px ;font-size: 12px;}
   .form-group{
     overflow: visible;
     .control-label{ float: none;display:inline-block;}
     .control-input{overflow: visible; display: inline-block;}
     input[type="text"],
     input[type="password"],
     input[type="email"],
     input[type="url"],
     input[type="date"],
     input[type="month"],
     input[type="time"],
     input[type="datetime"],
     input[type="datetime-local"],
     input[type="week"],
     input[type="number"],
     input[type="search"],
     input[type="tel"],
     input[type="color"],
     select,
     textarea {
       display: inline-block;
       width: 400px;
     }

     .chosen-search input[type="text"]{
       width:100%;
     }
   }
   .chosen-container-single .chosen-single{
     padding: 8px;
   }
   .chosen-container-single .chosen-single div b{
     background-position: 0px 8px;
   }
   .chosen-container-active.chosen-with-drop .chosen-single div b{
     background-position: -15px 8px;
   }
   .chosen-choices{ padding:8px 0}

 }
 .black-bg-color{
   .chosen-container .chosen-drop{ background: #555;}
   .chosen-container-single .chosen-single,.chosen-choices{
     background: #555;
     border-radius: 4px;

   }
   .chosen-container-multi .chosen-choices li.search-field input[type='text']{color:#fff}
 }


 .fileinput-button{ display: inline-block; position: relative;max-width:100%}
 .fileinput-button input{
   opacity: 0;
   filter: alpha(opacity=0);
   position: absolute;
   top:0;
   left: 0;
   height: 100%;
   width: 100%;
   direction: ltr;
   cursor: pointer;
 }
 .fileinput-button .tips-text{display: none;position: absolute;left: 0; bottom: 0;width: 100%;padding:5px 0;text-align:center;background: rgba(0,0,0,.8);background: #333\9;color:#fff;z-index: 5;}
 
 .fileinput-button .loading{ display: none; position: absolute; height: 40px; width: 40px; line-height: 40px; text-align: center; font-size: 18px; z-index: 5; top:50%;margin-top:-20px;left:50%;margin-left: -20px; background: #333;color: #fff; border-radius: 4px;}
 .fileinput-button.uploading .loading { display: block;}
 .fileinput-button:hover .tips-text { display: block;}
 .redactor-box{ border: 1px solid #43C3AA; margin-bottom: 0;}
 .redactor-box .redactor-toolbar{ box-shadow: none; background: #43C3AA; color: #fff;}
 .redactor-box .redactor-toolbar li a { color: #fff; font-size: 15px;}
 .redactor-box .redactor-toolbar li a:hover{ background: #fff;color:#1A1A1A}
 .redactor-box .redactor-editor{ min-height: 150px;color:#333; border: none;}
 input.btn-block { display: block; text-align: center; width:100% ;}

 .fileinput-button {
   img {
     height: 140px;
   }
   img.clean {
    height: auto;
   }
 }
 .input-mini {
   width: 80px;
 }
 form {
   span.error {
     font-size: 10px;
     color: #b94a48;
   }
 }
.form-group .control-input .select2-container span{
  margin: 0;
}
