 input[type="text"],
 input[type="password"],
 input[type="email"],
 input[type="url"],
 input[type="date"],
 input[type="month"],
 input[type="time"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="week"],
 input[type="number"],
 input[type="search"],
 input[type="tel"],
 input[type="color"],
 select,
 textarea {
    padding: 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    box-sizing: border-box;
    outline:none;
    border:none;
    border-radius: 4px;
    line-height: 20px;
}
.form-group{ overflow: hidden; margin-bottom: 20px;padding-right:13px}
.form-group .control-label { float: left; width: 90px;padding-left:13px; margin-right: 10px; font-size: 15px;box-sizing: border-box; line-height: 36px;}
.form-group .control-label.pull-right { float:right; margin-left: 10px; margin-right: 0;}
.form-group .control-input{ overflow: hidden;}
.form-group .control-input span{padding:8px 0px; display: inline-block;}
.form-group .control-input .control-txt{padding:8px; display: block; background: #fff;color:#999; border-radius: 4px;}
.form-group .control-input span input{ margin:0 10px; vertical-align: middle;}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="url"],
.form-group input[type="date"],
.form-group input[type="month"],
.form-group input[type="time"],
.form-group input[type="datetime"],
.form-group input[type="datetime-local"],
.form-group input[type="week"],
.form-group input[type="number"],
.form-group input[type="search"],
.form-group input[type="tel"],
.form-group input[type="color"],
.form-group select,
.form-group textarea{ display: block; width: 100%;}
.form-group  abbr[title='必填'] { border: none;color:red; float: right; margin-left: 2px;}

.fileinput-button  { display: inline-block; position: relative;}
.fileinput-button input{ 
opacity: 0;
filter: alpha(opacity=0);
position: absolute; 
top:0;
left: 0;  
height: 100%;
width: 100%;
direction: ltr;
cursor: pointer;
}
.fileinput-button .loading{ display: none; position: absolute; height: 40px; width: 40px; line-height: 40px; text-align: center; font-size: 18px; z-index: 5; top:50%;margin-top:-20px;left:50%;margin-left: -20px; background: #333;color: #fff; border-radius: 4px;}
.fileinput-button.uploading .loading { display: block;}
.redactor-box{ border: 1px solid #43C3AA; margin-bottom: 0;}
.redactor-box .redactor-toolbar{ box-shadow: none; background: #43C3AA; color: #fff;}
.redactor-box .redactor-toolbar li a { color: #fff; font-size: 15px;}
.redactor-box .redactor-toolbar li a:hover{ background: #fff;color:#1A1A1A}
.redactor-box .redactor-editor{ height: 150px;color:#333; border: none;}

/*
.form-actions {
  @extend .well;
  padding-left: 18%;
  .btn {
    margin-right: 15px;
  }
}

.fileinput-button {
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
  &.uploading { background-color: lighten($brand-primary, 10%); }
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
}
*/