// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders-heading-info {
  width: 300px;
  margin: 0 auto;
  b {
    font-size: 3em;
  }
}

.label {
  &.state-unpay, &.state-unprocess { @extend .label-default }
  &.state-payed, &.state-processed { @extend .label-primary }
  &.state-completed { @extend .label-warning }
  &.state-shiped { @extend .label-info }
  &.state-signed, &.state-done { @extend .label-success }
  &.state-closed { @extend .label-warning }
}
