// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.orders-heading-info {
width: 300px;
margin: 0 auto;
b {
font-size: 3em;
}
}

.label {
  &.state-unpay, &.state-unprocess { @extend .label-default }
  &.state-payed, &.state-processed { @extend .label-primary }
  &.state-completed { @extend .label-warning }
  &.state-shiped { @extend .label-info }
  &.state-signed, &.state-done { @extend .label-success }
  &.state-closed { @extend .label-warning }
}
*/

.greyish_white_back_color {
  background-color: #7A7A7A !important;
  color: #D8D3D3;
}

.main-link-color {
  color: #43C3AA;
  display: block;
}

.admin-order-index-wrapper {
  .nav-tabs.nav-justified {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 0;
  }

  .nav-justified {
    width: 100%;
  }

  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
  }

  :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .nav-tabs.nav-justified>li {
      display: table-cell;
      width: 1%;
    }
  }

  .nav-tabs.nav-justified>li {
    float: none;
  }

  @media (min-width: 768px) {
    .nav-justified>li {
      display: table-cell;
      width: 1%;
    }
  }

  .nav-justified>li {
    float: none;
  }

  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
  }

  .nav>li {
    position: relative;
    display: block;
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  @media (min-width: 768px) {
    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
      border-bottom-color: #fff;
    }
  }

  .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #43C3AA;
    background-color: black;
    color: #fff;
  }

  @media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
      border-bottom: 1px solid #43C3AA;
      background-color: #43C3AA;
      border-radius: 4px 4px 0 0;
    }
  }

  .nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
  }

  @media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
      margin-bottom: 0;
    }
  }

  .nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
  }

  .nav-tabs.nav-justified>li>a:hover {
    color: #fff;
    background-color: rgba(67, 195, 170, 0.82);
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  @media (min-width: 768px) {
    .nav-justified>li>a {
      margin-bottom: 0;
    }
  }

  .nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
  }

  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }

  .buyer_phone {
    background-color: red;
    color: #1A1A1A;
  }

  .order_created_at {
    padding-left: 40px;
  }

  .table-content {
    .none-border-right {
      border-right: none;

      img {
        float: left;
      }
      div {
        padding-left: 53px;

        .color {
          padding-left: 10px;
        }
      }
    }
    .none-border-left {
      border-left: none;
    }
    td {
      background: none;
      border-bottom: none;
      border: 1px solid #A9A5A5;
    }
  }

  .line {
    height: 10px;

    &:first-child {
      display: none;
    }
  }

  .margin-bottom-w20 {
    margin-bottom: 20px;
  }
}

.order_check_box{
  padding: 0px !important;

  label {
    padding: 10px;
    display: block;
    height: 27px;
  }
}

#orders-modal {
  padding-top: 10%;
  width: 80%;
  margin: auto;
  .close{
    color: #080808;
  }
  input {
    min-width: 260px;
  }

  .modal-footer .btn {
    min-width: 0px;
  }

  .select2-selection.select2-selection--multiple{
    width: 260px;
  }

  .form_ship_number {
    padding-left: 45px;
    input {
      border: 1px solid #ddd;
    }
  }
}

#ship-express-modal {
  padding-top: 7%;
  width: 70%;
  margin: auto;
  .close{
    color: #080808;
  }

  #order_ship_number {
    border: 1px solid #ddd;
  }
  .select2-container {
    width: 100% !important;
  }
  .select2-search__field {
    width: 800px !important;
  }
}

.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.fade.in {
  opacity: 1;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  -ms-transform: translate(0,-25%);
  -o-transform: translate(0,-25%);
  transform: translate(0,-25%);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header .close {
  margin-top: -2px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
  color: #0C0C0C;
  text-shadow: none;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #0C0C0C;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
