.store_address_warp {
  .chosen-container {
    display: none !important;
  }

  .city-select {
    display: inline-block !important;
    color: #0C0C0C;
  }
}

td.none-border-bottom {
  border: none;
}
