.service_store_edit {
  .order_banner_by_sequence, .show-type-and-sequence, .sequence-info {
    display: none;
  }

  .fileinput-button {
    padding-left: 30px;
  }
  .service-store-address{
    .city-group{
      display: inline-block;
    }
    .chosen-container {
    display: none !important;  }

    .city-select, {
      display: inline-block !important;
      color: #0C0C0C;
    }
  }
  .field_with_errors{
    display: inline-block;

  }
  .service-store-tel .fields{
    margin-bottom: 10px;
  }
  td.none-border-bottom {
    border: none;
  }
  .service_store_required {
    padding: 0 5px 0 18px;
    color: red;
  }
  .service_store_required_1 {
    padding: 0px 7px 0px 15px;
    color: red;
  }
  .store_link {
    background: #ECE9E2;
    color: #1F1E1E;
  }
  .service_store_no_required {
    padding: 0 5px 0 22px;
  }

  .city-select {
    width: auto !important;
    height: 37px;
  }
}
