@mixin round-image {
  border: 3px solid #994f24;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  height: 100px;
  overflow: hidden;
  width: 100px;
  display: block;
  margin: 20px auto;
}

.new_supplier, .new_agency, .edit-store-info {
  width: 430px;
  margin: 0 auto;
  p, h3 {
    text-align: center;
  }
}

ul.nav.nav-pills.nav-stacked li.active a {
  color: #43c3aa;
}

.user-box {
  float: left;
  margin: 0 10px 10px 0;
  height: 200px;
  &.supplier {
    img {
      margin-bottom: 6px;
    }
  }
  padding: 20px 0;
  background-color: #363636;
  .name, .mobile {
    text-align: center;
  }
  .contact-info {
    width: 90%;
    margin: 0 auto;
    .contact-label {
      width: 60px;
      display: inline-block;
    }
    .contact-text {
      display: inline-block;
    }
  }
  width: 20%;
  display: inline-block;
  img {
    @include round-image;
  }
  .cooperation_form {
    text-align: center;
  }
}

.box-list {
  margin-bottom: 20px;
  float: left;
  width: 100%;
  .product-box {
    float: left;
    padding: 20px;
    background-color: #383838;
    width: 260px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: 300px;
    img {
      margin-bottom: 10px;
    }
  }
}

.agency-product-actions {
  margin-top: 20px;
  display: inline-block;
  a {
    margin-top: 10px;
  }
}

input#product_supplier_product_info_attributes_suggest_price_lower, input#product_supplier_product_info_attributes_suggest_price_upper {
  width: 40%;
  display: inline-block;
}

#guesscity {
  color: #43c3aa;
}

a#choose_by_hand {
  cursor: pointer;
  color: #43c3aa;
}

.edit-store-info {
  .control-input {
    margin-bottom: 10px;
  }
}

.admin-agency-box {
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  .agency-title {
    border-bottom: 1px solid gray;
    color: #636363;
    margin-bottom: 20px;
  }
  .input-group {
    margin-bottom: 10px;
    input {
      width: 300px;
    }
    #send_mobile, #authorize_agency {
      padding: 10px;
      width: 100px;
      text-align: center;
    }
  }
}

#agencies.list-table {
  img {
    @include round-image;
    margin: 0 auto 5px;
  }
}

a.standout-link {
  color: #43c3aa;
}

.dropdown.card {
  float: right;
  margin-right: 10px;
  position: relative;
  .dropdown-menu {
    background-color: #505050;
    text-align: center;
    width: 480px;
    .errors {
      color: tomato;
    }
    .img, .name, .add-sign {
      margin: 5px 0;
    }
    ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      &.supply-contact {
        margin-bottom: 0;
        border-top: 1px solid black;
        padding: 10px 0 2px;
      }
      li {
        float: left;
        width: 50%;
        
      }
    }
    .form {
      display: none;
      form {
        input[type='text'] {
          border-radius: 0;
          width: 120px;
          padding-bottom: 0;
        }
      }
    }
    .show-value {
      span {
        margin-left: 12px;
        &.text {
          margin-left: 0;
        }
        a {
          cursor: pointer;
          font-size: 12px;
        }
      }
    }
  }
}


.info-bar {
  overflow: hidden;
  margin-bottom: 20px;
  height: 100px;
  word-break: break-all;
  img {
    float: left;
    margin-right: 10px;
    height: 80px;
  }
  .store-info {
    background-color: #383838;
    width: 900px;
    float: left;
    padding: 10px;
    .main-info {
      float: left;
      width: 450px;
      .store-name {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .short-description {
        height: 40px;
      }
    }
  }
  .count-info {
    float: right;
    margin-top: 18px;
    .agencies-count, .products-count {
      display: inline-block;
      margin-right: 10px;
      .count-name, .count-value {
        text-align: center;
      }
    }
    .agencies-count {
      padding-right: 10px;
      border-right: 1px solid gray;
    }
  }
  .contacts {
    background-color: #383838;
    float: right;
    height: 60px;
    padding: 20px;
    width: 200px;
  }
}

.my-suppliers {
  overflow: hidden;
}

#card-dropdown-menu {
  word-break: break-all;
}
