.list-table{ width: 100%; border: none; box-sizing: border-box; font-size: 15px;}
.list-table th{ background: #EAEAEA;;color:#1A1A1A;border-bottom:10px solid #1A1A1A ; padding: 10px; font-weight: normal;}
.list-table td{ padding:10px; background: #383838; text-align: center;border-bottom:10px solid #1A1A1A ; vertical-align: middle;}
.list-table td.text-left,.list-table th.text-left{ text-align: left; padding:10px 20px ;}

.list-table tr:hover td{ opacity: .8;filter: alpha(opacity=80);}

.list-table tr.main-bg td{ background: #43C3AA;color:#fff;}
.list-table tr.red-bg td{ background: #E74C3C;color:#fff;}
.list-table tr.blue-bg td{ background: #3498DB;color:#fff;}
.list-table tr.yellow-bg td{ background: #F39C12;color:#fff;}
.list-table .edit-icon{ font-size: 20px;}

.border-table{
  width: 100%;
  td,th{
    padding: 8px;
    text-align: left;
  }
  td{
    border: 1px solid #ccc;
  }
  td:first-of-type {
    border-left: none;
  }
  td:last-of-type {
    border-right: none;
  }
}
