default: &default
  redis_host: REDIS_HOST
  host_url: http://uboss.cc
  pay_host: http://ssobu.tunnel.pub
  upyun:
    username: username
    password: password
    bucket: bucket
    bucket_host: host
    file_bucket: filebucket
    file_bucket_host: filehost
  pingpp:
    api_key: PINGPP_API_KEY
    app_id: PING_PP_API_ID
  yunpian_api_key: YUN_PIAN_API_KEY
  weixin:
    app_id: 公众号ID
    app_secret: 公众号secret
    app_mchid: 微信商户号
    key_secret: 微信商户设置的支付秘钥
  product_sharing: # 商品分享默认分配比例
    level1:
      rate1: 0.9
    level2:
      rate1: 0.5
      rate2: 0.4
    level3:
      rate1: 0.4
      rate2: 0.3
      rate3: 0.2

development:
  secret_key_base: b56b952bd690051e405c4fff48b4c3e6c14153d4c6c8abc1246bb0e2096b2684
  <<: *default

test:
  secret_key_base: b56b952bd690051e405c4fff48b4c3e6c14153d4c6c8abc1246bb0e2096b2684
  <<: *default

production:
  secret_key_base: <%= ENV['SECRET_KEY'] %>
