---
:concurrency: 5
:pidfile: tmp/pids/sidekiq.pid
staging:
  :concurrency: 5
production:
  :concurrency: 10
:queues:
  - default
  - [orders, 2]
  - [agent_orders, 2]
  - [auto_sign_order, 5]
  - [weixin_api, 7]
  - [mailer, 8]
  - [sms, 8]
