<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><%= link_to '菜品管理', [:admin, :dishes_products] %></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">编辑菜品信息</li>
	</ul>
</div><!-- container -->

<br />

<div class="container nogap">
    <%= horizon_form_for [:admin, @dishes_product] do |f| %>

      <%= render 'fields', f: f %>

    <% end %>

</div>
