<ul class="nav nav-pills nav-stacked nav-agencies">
  <li role="presentation" class="<%= from == 'my_agencies' ? 'active' : 'inactive' %>"><%= link_to "我的代销商", admin_agencies_path %></li>
  <li role="presentation" class="<%= from == 'new_agency' ? 'active' : 'inactive' %>"><%= link_to "发展代销商", new_admin_agency_path %></a></li>
</ul>
