<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>代销商</li>
	</ul>
</div>
<br />
<div class="container nogap ">
	<div class="box-w25">
		<div class="admin-box blue-bg-color">
      <h4>代销商家数</h4>
    	<h1 class="num"><%= @statistics[:count] %></h1>
		</div>
	</div>
</div>
<br />
<div class="container">
  <div class="index_list">
    <table class="list-table" id="agencies">
      <thead>
        <th colspan='2'>代销商</th>
        <th>昨日业绩</th>
        <th>累计业绩</th>
        <th>代销商品数</th>
        <th>商家好评率</th>
        <th>联系方式</th>
        <th>操作</th>
      </thead>
      <tbody>
        <% if @cooperations.blank? %>
          <t><td colspan="8">您还未添加代销商，<%= link_to "现在添加", "/" %></td></t>
        <% else %>
          <%= render partial: 'agency_in_table', collection: @cooperations %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @cooperations %>
</div>
