<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>代销商</li>
	</ul>
</div>
<br />
<div class="container nogap ">
  <%= render partial: 'agency', collection: @agencies %>
</div>
