<div class="container admin-container">
  <ul class="breadcrumb">
    <li><a href="/admin">主页</a></li>
    <li class="divider"><i class="fa fa-caret-right"></i></li>
    <li>平台广告</li>
  </ul>
</div>
<br />
<div class="container  mod-inner">
  <div class="list-search-bar">
    <%= link_to("+ 添加平台广告", url_for(:action=>:new), :class=>"btn btn-large",:role=>"button") %>
  </div>
  <br />
  <%= render partial: 'platform_advertisements', locals: { platform_advertisements: @platform_advertisements } %>
</div>
