<%= simple_form_for 'table_number', url: set_table_number_seller_calling_services_path(seller_id: params[:seller_id]) do |f| %>
  <span>所在桌号</span>
  <%= f.select :number, options_for_select([['--选择桌号--', '']] + @select_arr, cookies["table_nu"]), {} %>

  <%= f.submit '保存', class:"btn btn-large btn-block" %>
<% end %>
