<%= content_for :title do %>
  呼叫服务
<% end %>
<%= content_for :page_title do %>
  <div class="text-center" style="padding-right: 10px;">选择桌号</div>
<% end %>
<%= content_for :header_right do %>
  <span class="pull-right">&nbsp;</span>
<% end %>
<%= content_for :header_right do %>  
  <span class="pull-left">&nbsp;</span>
<% end %>

<div class="table-number-list box-w100 nogap text-center">
 <!-- 循环部分 -->
 <div class="box-w25 active">
   <div class="number-box"><span>1</span></div>
   <p>桌号</p>
 </div><!-- box-w25 -->
 <!-- 循环部分 结束 -->
 <div class="box-w25 selected">
   <div class="number-box"><span>2</span></div>
   <p>桌号</p>
 </div>
 <div class="box-w25">
   <div class="number-box"><span>3</span></div>
   <p>桌号</p>
 </div>
</div><!-- table-number -->
<div class="calling-order-service">
  <button class="btn btn-block btn-large noradius" style="font-size: 16px;">确定</button>
</div>
<script>
 $('.table-number-list .box-w25').on('click',function(){
   if(!$(this).hasClass('selected')){
     $('.table-number-list .box-w25').removeClass('active');
     $(this).addClass('active')
   }
 });
  
</script>