<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li>活动商家</li>
	</ul>
</div>
<br />

<div class="container  mod-inner">
  <div class="list-search-bar">
    <%= link_to("+ 绑定商家", url_for(action: :new), class: "btn btn-large", role: "button") %>
  </div>
  <br />
  <%= render partial: 'promotion_activities', locals: { promotion_activities: @promotion_activities } %>
  <%= paginate @promotion_activities %>
</div>
