<div class="index_list">
  <table class="list-table" id="calling_services">
		<thead>
			<th>服务名称</th>
			<th>创建时间</th>
			<th>操作</th>
		</thead>
		<% calling_services.each do |calling_service| %>
			<tr class="product">
				<td><%= calling_service.name %></td>
				<td><%= strftime calling_service.created_at %></td>
				<td>
          <% if !["结帐", "其它服务"].include?(calling_service.name) && can?(:update, CallingService) %>
            <p>
            <%= link_to url_for(action: :edit, id: calling_service.id), class:'edit-icon', title: '编辑' do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <%= link_to admin_calling_service_path(calling_service), method: :delete,
              class:'change-status-btn edit-icon', data: { disable_with: '<i class="fa fa-trash-o"></i>', confirm: "确定删除服务 “#{calling_service.name}” ?" } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
