<% parent = product.parent %>
<div class="form-group">
  <label class="control-label">成本价</label>
  <div class="control-input">
    <span class="control-txt"><%= parent.cost_price %></span>
  </div>
</div>
<div class="form-group">
  <label class="control-label">建议价</label>
  <div class="control-input">
    <span class="control-txt"><%= parent.suggest_price_lower %>至<%= parent.suggest_price_upper %></span>
  </div>
</div>
<div class="form-group">
  <label class="control-label">代销说明</label>
  <div class="control-input">
    <span class="control-txt"><%= raw parent.supply_content %></span>
  </div>
</div>
