<ol class="breadcrumb">
  <li><%= link_to '商品管理', [:admin, :products] %></li>
  <li class="active">编辑商品信息</li>
</ol>


<div class="row">

    <%= horizon_form_for @product, url: { action: :update } do |f| %>
      <%= render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "保存", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

</div>
