<ol class="breadcrumb">
  <li><%= link_to '商品管理', [:admin, :products] %></li>
  <li class="active">编辑商品信息</li>
</ol>


<div class="row">

    <%= simple_form_for @product,url: {:action=>:update},wrapper: :horizontal_file_input do |f| %>
      <%= render 'fields', f: f %>
      <div class="button_div  col-xs-4  col-md-offset-4"  style="margin-top:30px;padding-bottom:30px;">
        <%= f.submit "修改",class: "btn btn-large btn-primary col-xs-12" %>
      </div>
    <% end %>

</div>
