<ol class="breadcrumb">
  <li><%= link_to '商品管理', [:admin, :products] %></li>
  <li class="active">创建商品信息</li>
</ol>

<div class="row">
    <%= horizon_form_for :product, url: {action: :create} do |f| %>

      <%= render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "创建", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

</div>
