@import "bootstrap-sprockets";
@import 'shared/variables';
@import "bootstrap";
@import 'shared/bootswatch';
@import 'redactor-rails';
@import "chosen.min";

@import "admin/form";
@import "admin/orders";
@import "admin/user";

.clear {clear: both;}
.floor {
    height: 620px;
    margin: 0 auto;
    min-width: 1244px;
    position: relative;
    width: 100%;
}
.mod-inner {
  margin: 0 auto;
  position: relative;
  width: 980px;
}
.border_block {border: 1px solid rgb(232, 232, 232);margin-top:30px;padding-bottom:30px;}

.border_block:hover {background-color: rgb(235, 249, 231)}

.block-actions {
  margin: 10px 0 10px 0;
  .btn {
    margin-right: 10px;
  }
}
.center-form-container {
  width: 300px;
  margin: 30px auto 0;
}
.border_block {
  label,.form-group div{margin-top: 10px;}
  span label{margin-top: 0px;}
  .form-group div div {margin-top: 0px;}
}
.container-sm {
  width: 380px;
  margin: 50px auto;
}
.admin-container {
  padding-bottom: 100px;
}
