@import 'shared/variables';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "shared/reset";
@import 'redactor-rails';
@import 'select2';
@import "chosen.min";
@import "jquery.bxslider";
@import "pnotify.custom.min";

@import "admin/form";
@import "admin/table";
@import "admin/orders";
@import "admin/carriage_template";
@import "admin/dishes_product";
@import "admin/product";
@import "admin/user";
@import "admin/service_store";
@import "admin/address";
@import "admin/categories";
@import "admin/refund";
@import "admin/cuntdown";
@import "admin/setting";
@import "admin/upload";
@import "shared/base";
@import 'admin/login';
@import "admin/supply_and_agency";

body{background: #1A1A1A;color:#A6A6A6;}
a{color:#A6A6A6;}
a:hover,a:active,a:focus{color:#43C3AA}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #cecece;
}
.lock{
  height: 100%; overflow: hidden;
}

.container { overflow: inherit;}
.content { position: relative; padding-left:150px ; padding-right: 0; }
.content .container{ width:100% ;}
.alert{padding:15px;margin-bottom:21px;border:1px solid transparent;border-radius:0}
.alert h4{margin-top:0;color:inherit}
.alert .alert-link{font-weight:bold}
.alert>p,.alert>ul{margin-bottom:0}
.alert>p+p{margin-top:5px}
.alert-dismissable,.alert-dismissible{padding-right:35px}
.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{background-color:#5cb85c;border-color:transparent;color:#EBEBEB}
.alert-success hr{border-top-color:transparent}
.alert-success .alert-link{color:#d2d2d2}
.alert-info{background-color:#5bc0de;border-color:transparent;color:#EBEBEB}
.alert-info hr{border-top-color:transparent}
.alert-info .alert-link{color:#d2d2d2}
.alert-warning{background-color:#f0ad4e;border-color:transparent;color:#EBEBEB}
.alert-warning hr{border-top-color:transparent}
.alert-warning .alert-link{color:#d2d2d2}
.alert-danger{background-color:#d9534f;border-color:transparent;color:#EBEBEB}
.alert-danger hr{border-top-color:transparent}
.alert-danger .alert-link{color:#d2d2d2}
.close{float:right;font-size:22.5px;font-weight:bold;line-height:1;color:#666;text-shadow:none;opacity:0.2;filter:alpha(opacity=20)}
.close:hover,.close:focus{color:#666;text-decoration:none;cursor:pointer;opacity:0.5;filter:alpha(opacity=50)}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}


header{ background: #2e2e2e;}
.logo{float: left; margin-right: 50px;}
#config{ float: right;margin:10px 0 0 25px; position: relative; display: block;}
#config img {width: 64px;height:64px; border: 3px solid #994F24; border-radius: 500px; overflow: hidden;}

/* 一级导航 */
.nav > ul { padding: 10px 0 0;margin: 0; list-style: none;}
.nav > ul > li{display: inline-block;*display: inline;*zoom:1; position: relative;width: 37px; margin: 0 25px;}
.nav > ul > li > a { font-size: 15px; display: block; text-align: center;}
.nav > ul > li > a:before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 38px;
    margin-bottom: 0px;
    background: image-url('admin/header-nav.png') no-repeat;
}
.nav > ul > li.selected ,header nav > ul > li:hover {
    >a{
        color:#43C3AA;
    }
}
/* 一级导航图标 */
#admin-nav-main{
    &.selected,&:hover{
      a:before{
          background-position: 0px -83px;
      }
    }
}
#admin-nav-income {
    &.selected,&:hover{
      a:before{
          background-position: -79px -83px;
      }
    }
    >a:before{
    background-position: -79px 0;
    }
}
#admin-nav-city_manager{
    width: 77px;
    &.selected,&:hover{
      a:before{
          background-position: -139px -83px;
      }
    }
    > a:before{
        background-position: -139px 0;
    }
}
#admin-nav-agent{
    width: 48px;
    &.selected,&:hover{
      a:before{
          background-position: -244px -83px;
      }
    }
    > a:before{
        background-position: -244px 0;
    }
}
#admin-nav-operator{
    width: 60px;
    &.selected,&:hover{
      a:before{
          background-position: -336px -83px;
      }
    }
    > a:before{
        background-position: -336px 0;
    }
}

#admin-nav-seller{
    width: 60px;
    &.selected,&:hover{
      a:before{
          background-position: -336px -83px;
      }
    }
    > a:before{
        background-position: -336px 0;
    }
}
#admin-nav-service_seller {
  width: 60px;
}
#admin-nav-tuangou{
    width: 60px;
    &.selected,&:hover{
      a:before{
          background-position: -426px -83px;
      }
    }
    > a:before{
        background-position: -426px 0;
    }
}
#admin-nav-supplier{
    width: 60px;
    > a:before{
        background-position-x: -423px;
    }
}
#admin-nav-uboss{
    width: 50px;
    &.selected,&:hover{
      a:before{
          background-position: -517px -83px;
      }
    }
    > a:before{
        background-position: -517px 0;
    }
}
#admin-nav-promotion_activity{
    width: 60px;
    &.selected,&:hover{
      a:before{
          background-position: -594px -83px;
      }
    }
    > a:before{
        background-position: -594px 0;
    }
}

/* 2级导航 */
.nav-v2{
    padding:20px 0 0 150px ;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 5px 40px;
                font-size: 15px;
            }
            a:hover{
                color: #43C3AA;
            }
        }
        li.selected a{
            background: #1a1a1a;
            color: #fff;
            cursor: default;
        }
    }
}
/* 3级导航 */
.nav-v3{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 100px;
    border:1px solid #504f4f;
    text-align: center;
    ul{
        padding: 0;
        list-style: none;
        margin: 0;
        li a{
            display: block;
            border-bottom: 1px solid #504f4f;
            padding: 20px 10px;
        }
        li:last-child a{
            border-bottom: none;
        }
        li.selected a{
            color: #43C3AA; cursor: pointer;
        }
        li.selected a:before{
            content: "\f0da";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 10px;
        }

    }
}
.breadcrumb {padding: 0 0 0 10px;  margin: 0;  list-style: none; border-left:5px solid #43C3AA; font-size: 15px;}
.breadcrumb > li {  display: inline-block;  *display: inline;  *zoom: 1;}
.breadcrumb > li.divider {  padding: 0 10px;color:#43C3AA ;}
.breadcrumb > .active {  opacity: 0.6;  filter: alpha(opacity=60);}

.dropdown-menu{ display: none;position: absolute;top:90%;left:0%;padding:0;width: 130px; background: #333;padding:8px 0; z-index: 99;}
.dropdown-menu > li { list-style: none;color:#fff;}
.dropdown-menu > li > a {color:#fff;display: block;padding:8px 20px;}
.dropdown-menu > li > a:hover{ background: #43c3aa;}
.open > .dropdown-menu { display: block;}
#config:hover .dropdown-menu{ display: block;top:0px; left: -130px; background:#1a1a1a;}
#config:hover .dropdown-menu:hover {display: block;}
#config li > a:hover{ background: none;color: #43C3AA;}

.modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal{
  h1,h2,h3,h4,h5{
    font-weight: normal;
  }
  textarea{
    border: 1px solid #ddd;
  }
}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;color:#1a1a1a;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
@media (min-width:768px){
  .modal-dialog{width:600px;margin:30px auto}
  .modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
  .modal-sm{width:300px}
}
@media (min-width:992px){
  .modal-lg{width:900px};
}

.pop-img{ display:inline-block;*zoom:1;*display: inline; cursor: pointer; width: 250px; height: 150px;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.pop-img img{ display: none; }
.pop-html{overflow-y: scroll;height: 100%;width: 100%;}
.pop-html body{ overflow: hidden;height: 100%; width: 100%;}
.pop-bg{ background: rgba(0,0,0,.3); position: fixed;top:0; left: 0; height: 100%; width: 100%; z-index:99999; display: table;}
.pop-bg .pop-container {display: table-cell; vertical-align: middle; text-align: center;}
.pop-bg .pop-content{ background: #fff; padding: 10px; border-radius:10px; position: relative; display: inline-block;}
.pop-bg .pop-close{position:absolute;z-index: 10;color: #333;right:-15px;top:-15px;border: 3px solid #333; background: #fff; width: 30px; height: 30px; line-height: 29px; font-size: 20px; text-align: center;border-radius:500px; cursor: pointer; }

.tips-info{display: inline-block;position: relative; cursor: pointer;}
.tips-info .info-hover{
  display:none;
  position: absolute;
  top: 100%;
  left: -25px;
  background: #666;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
.tips-info:hover .fa{opacity: 0.8;  filter: alpha(opacity=80)}

.admin-box {padding:20px 10%; background: #E5E5E5;color:#1A1A1A;display: block;}
.admin-box:after{  clear:both;content: ".";   display: block;overflow: hidden; visibility: hidden;    font-size: 0;    line-height: 0;    width: 0;    height: 0;}
a.admin-box:hover,a.admin-box:focus{opacity: 0.9;  filter: alpha(opacity=90);color:#fff;}
.admin-box.chart { height: 300px;}
.admin-box{
   h1,h4{ font-weight: normal; height: 40px;}
   h1{ margin:0; text-align: right;overflow: hidden;}
   h3{ font-weight: normal;}
   .withdraw{margin-bottom: 20px;font-size: 30px;line-height: 30px;}
   .text{font-size: 18px;}
   label.text,textarea.text{font-size: 15px}
   .edit-title{ height: auto; border-left: 3px solid #43C3AA;padding-left:10px; margin-top: 10px;}
}
.qrcode-box { background: #fff;padding:20px 0 0; height: 260px;}
.qrcode-box h4{ height: 40px;margin: 0;color:#1A1A1A;font-weight: normal;}

.list-box { position: relative; overflow: hidden; text-align: center;}
.list-box:before{display: block;content: ' ';height: 10px; width: 1px; background: #E5E5E5; position: absolute; bottom: 0;left: 50%; z-index: 2;}
.list-box:after { height: 100%; width: 1px; background: #1A1A1A; display: block;content: ' ';left:50%;top:10px; position: absolute; z-index: 1; }
.list-box .list-title{ color: #6B6B6B; }

.header-tab {font-size: 18px;background: #DCDCDC; overflow: hidden;color:#686868;}
.header-tab .tab-title{ float: left; border-right:1px solid #1A1A1A ; padding: 10px 30px; cursor: pointer;}
.header-tab .tab-title.active { background: #7B7B7B;color: #DDD; cursor: default;}
.header-tab .seller-name{ float: right; padding: 10px 30px; color: #19BB9C;}
.tab-container{ font-size: 15px;}
.tab-container .tab-content { display: none;}
.tab-container .admin-box{ padding: 20px 20px 10px;}
.tab-container .seller-qrcode{ float: right;width: 120px; height: 120px;}
.page-title{ margin-top: 10px;color:#fff; font-weight: normal;}
.page-title .date{ float: right; font-size: 15px; line-height: 24px;}
.page-title .btn{margin:0 0 0 10px;vertical-align: top;}


.imgsize{
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  background-repeat: no-repeat;
}
.img-200-200{
  width:200px;
  height:200px;
}

.beige-bg-color {background: #ECE9E2;}
.main-bg-color{ background: #43C3AA;color:#fff;}
.blue-bg-color{ background: #3498DB;color:#fff;}
.red-bg-color{ background: #E74C3C;color:#fff;}
.yellow-bg-color{ background: #F39C12;color:#fff}
.orange-bg-color{ background:#FF6000;color:#fff}
.black-bg-color{ background: #383736;color:#fff}
.white-bg-color{ background: #fff;color:#333}
.main-bg-color,.blue-bg-color,.red-bg-color ,.yellow-bg-color,.orange-bg-color,.black-bg-color{
    a{color:#fff;}
    a:hover{color:#ddd}
}
.change-status-btn .fa-spinner,.loading .fa-spinner{
    animation: loading 3s linear infinite ;
    /* Firefox: */
    -moz-animation: loading 3s linear infinite ;
    /* Safari 和 Chrome: */
    -webkit-animation: loading 3s linear infinite ;
    /* Opera: */
    -o-animation: loading 3s linear  infinite ;
}
.red-color{color:#E74C3C;}
.gray-color{color: #888;}

/*label*/
.label-info, .label.state-shiped {
    background-color: #5BC0DE;
}
.label-warning, .label.state-completed, .label.state-closed {
    background-color: #F0AD4E;
}
.label-success, .label.state-signed, .label.state-done {
    background-color: #5CB85C;
}
.label-danger {
    background-color: #D9534F;
}
@keyframes loading
{
0%{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);     /* IE 9 */
    -moz-transform:rotate(0deg);    /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg);  /* Opera */
}
50%{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}
100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);     /* IE 9 */
    -moz-transform:rotate(360deg);    /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);  /* Opera */
}
}

@-moz-keyframes loading /* Firefox */
{
0%{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);     /* IE 9 */
    -moz-transform:rotate(0deg);    /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg);  /* Opera */
}
50%{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}
100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);     /* IE 9 */
    -moz-transform:rotate(360deg);    /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);  /* Opera */
}
}

@-webkit-keyframes loading /* Safari 和 Chrome */
{
0%{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);     /* IE 9 */
    -moz-transform:rotate(0deg);    /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg);  /* Opera */
}
50%{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}
100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);     /* IE 9 */
    -moz-transform:rotate(360deg);    /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);  /* Opera */
}
}

@-o-keyframes loading /* Opera */
{
0%{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);     /* IE 9 */
    -moz-transform:rotate(0deg);    /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg);  /* Opera */
}
50%{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}
100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);     /* IE 9 */
    -moz-transform:rotate(360deg);    /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);  /* Opera */
}
}
/*
@import "bootstrap";
@import "bootstrap-sprockets";
@import 'shared/bootswatch';
.clear {clear: both;}
.floor {
    height: 620px;
    margin: 0 auto;
    min-width: 1244px;
    position: relative;
    width: 100%;
}
.mod-inner {
  margin: 0 auto;
  position: relative;
  width: 980px;
}
.block-actions {
  margin: 10px 0 10px 0;
  .btn {
    margin-right: 10px;
  }
}
.center-form-container {
  width: 300px;
  margin: 30px auto 0;
}
.container-sm {
  width: 380px;
  margin: 50px auto;
}
.admin-container {
  padding-bottom: 100px;
}

*/

.redactor-editor {
  color: #000;
}

.v-center {
  display: block;
  position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.hidden{
  display: none;
}

.modal-dialog.modal-sm{
  margin-top: 10%;
}
.word-break {
  word-wrap: break-word;
  word-break: normal;
}
