@import 'animations';
@import "mobile_page/reset";
@import 'mobile_page/frontjobs/autoStrap';
@import 'mobile_page/frontjobs/comm';
@import 'mobile_page/frontjobs/style';
@import 'mobile_page/frontjobs/appraisal';
@import 'mobile_page/frontjobs/successful_payment';
@import 'mobile_page/font_width';
@import 'mobile_page/toshare';
@import 'mobile_page/mobile';
@import 'mobile_page/rewrite_style';
@import 'mobile_page/order';

.box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}
