@import "mobile_page/reset";

@import 'mobile_page/font_width';
@import 'mobile_page/toshare';
@import 'mobile_page/mobile';

@import 'pages/orders';

.box {
  position: relative;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.clear {
  clear: both;
}
