@import 'shared/application_variables';
@import 'animations';
@import "mobile_page/reset";
@import 'mobile_page/frontjobs/comm';
@import 'mobile_page/frontjobs/style';
@import 'mobile_page/frontjobs/appraisal';
@import 'mobile_page/frontjobs/successful_payment';
@import 'mobile_page/toshare';
@import 'mobile_page/mobile';
@import 'mobile_page/rewrite_style';
@import 'mobile_page/order';
@import 'mobile_page/login';
@import 'mobile_page/product';

.box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}

.hidden {
  display: none;
}
.wx-mod-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9000;
  top: 0;
  left: 0;
  display: none;
}
.text-share {
  background: image-url('wechat_sharing.png') no-repeat right center;
  width: 100%;
  height: 155px;
  background-size: contain;
  top: 0;
  display: block;
}
.agreement-pre {
  padding: 10px;
  white-space: pre-line;
}
.city-select {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding-left: 15px;
}
