@import 'shared/application_variables';
@import "mobile_page/reset";
@import 'mobile_page/new/layout';
@import 'mobile_page/new/header';
@import 'mobile_page/new/slider';
@import 'mobile_page/new/form';
@import 'mobile_page/new/table';
@import 'mobile_page/new/recommend';
@import 'mobile_page/new/button';
@import 'mobile_page/new/tab';
@import 'mobile_page/new/pop';
@import 'mobile_page/new/share';
@import 'mobile_page/new/product';
@import 'mobile_page/new/account';
@import 'mobile_page/new/order';
@import 'mobile_page/new/evaluatation';
@import 'mobile_page/new/setting';
@import 'mobile_page/new/product_cuicui';
@import 'mobile_page/new/login';
@import 'mobile_page/new/store';
@import 'mobile_page/new/service_store';
@import 'mobile_page/new/store-category';
@import 'mobile_page/new/new_index';
@import 'mobile_page/new/pop-friend';
@import 'mobile_page/new/calling_server';
@import 'mobile_page/new/refund';
@import 'mobile_page/new/home-page';
@import 'mobile_page/new/umall';
@import 'mobile_page/new/dishes';
@import 'mobile_page/new/chat';
@import 'mobile_page/new/charge';
@import 'mobile_page/new/main';

#load-more {
  color: #fff;
  padding: 8px;
  text-align: center;
  width: 200px;
  margin: 5px auto;
  border-radius: 0.2rem;
  background-color: lighten(#43c3aa, 10%);
  &.done {
    background-color: lighten(#43c3aa, 20%);
  }
  &.loading {
    background: image-url("ajax-loader.gif") no-repeat 50px;
    background-size: 16px;
    background-color: lighten(#43c3aa, 10%);
  }
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.agreement-pre {
  padding: 10px;
  white-space: pre-line;
}
.spinner {
  position: absolute;
  top: 40%;
  right: 50%;
  margin-right: -35px;
  width: 70px;
  text-align: center;
  z-index: 100;
}
.spinner:before{
  content: '';
  position: fixed;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  border-radius: 10px;
  z-index: 0;
  background: rgba(0,0,0,0.8);
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $brand-primary;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
#pay-number-box{
  background: image-url('mobile/bill_orders/money.png') no-repeat left center #fff;
  background-position-x:4% ;
  background-size:auto 18px ;
  border: 1px solid #ddd;
  padding: 0 5% 0 12.5%;  
  font-size: 18px;
  line-height: 49px;
  height: 49px;
  overflow: hidden;
  border-radius: 4px;
  color: #999;
  position: relative;
}
#pay-number-box.active{
  color: #444;
  font-size: 24px;
  
}
.req-bill-btn{
  padding: 5%;
  font-size: 18px;
}
#pay-number-box:before{
  content: '|';
  position: absolute; 
  left: 0;
  top: 0;
  margin-left: calc(12.5% - 5px);
  margin-left: -webkit-calc(12.5% - 5px);
  font-family: sans-serif;
  color: $brand-primary;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  -webkit-animation: flash 1.5s infinite ease-in-out both;
  animation: flash 1.5s infinite ease-in-out both;
}
#pay-number-box.active:after{
  content: '|';
  color: $brand-primary;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: middle;
  -webkit-animation: flash 1.5s infinite ease-in-out both;
  animation: flash 1.5s infinite ease-in-out both;
}

#pay-number-keyboard{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  .box-w33{
    border-right: 1px solid #dfdfdf;
    border-top:1px solid #dfdfdf ;
    color: #1f2a44;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    padding: 5%;
    font-family: sans-serif;
    &.touched {
      background-color: #ddd;
    }
  }
  .box-w33:nth-child(3n){
    border-right: none ;
  }
  .dot{
    background: #f6f6f6;
    &.touched {
      background-color: #fff;
    }
  }
  .back{
    background:image-url('mobile/bill_orders/back.png') no-repeat center center #f6f6f6;
    background-size: auto 20px;
    &.touched {
      background-color: #fff;
    }
   }
}

#pay-number-box.active:before,#pay-number-box.nofoucs:before,#pay-number-box.nofoucs:after{
  content: '';
}

@-webkit-keyframes flash {
  0% { opacity: 0; }
  80% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: 0; }
  80% { opacity: 1; }
}
