<div class="col-xs-12">
<div class="jiathis_style_32x32 col-xs-12 text-center" style="padding-bottom:30px;">
<div class="col-xs-12" style="padding:10px;">分享到：</div>
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_weixin"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
</div>
</div>
