<%= content_for :page_title do %>
  商品详情
<% end %>
<div class="upass main">
<div class="container add_listall" >
  <div class="row text-center font_h1" style="padding-top:60px;">
    商品详情
  </div>
  <div class="row font_h4 text-center" style="padding:10px;">
    您查找的产品已下架或不存在。
  </div>
  <div class="add_conts">
    <div class="accunt_adil_box3 adbtn">
      <%= link_to "返回", root_path, class:"accunt_adilbtn" %>
    </div>
  </div>
</div>
