<%= content_for :extra_meta_tags do %>
  <% if Rails.env.production? %>
    <%= seo_meta_tag %>
  <% end %>
<% end %>
<div id="pagepiling">
	<div class="section" id="section1">
		<div id="slider">
			<div class="item">1</div>
			<div class="item">2</div>
			<div class="item">3</div>
		</div>
	</div><!-- section -->
	<div class="section" id="section2">
		<div id="video" style="display: none;">
				<h1 class="section-title text-center">
					视频<br/>
					VIDEO
				</h1>
				<div id="black-bg">
					<div class="video-banner banner-1">
						<h4>关于UBOSS宣传片</h4>
						<p>【创客】 【商家】 【分享客】</p>
						<p>　让你的商品，引爆社交圈</p>
						<div class="play-icon" data-src="http://player.youku.com/player.php/sid/XMTI5ODg1NTM2MA==/v.swf"><i class="fa fa-play"></i> 点击播放</div><!-- play-icon -->
					</div><!-- video-banner -->
					<div class="video-banner banner-2">
						<h4>什么是UBOSS产品？</h4>
						<p>　　　　【全国首创】</p>
						<p>　　以人为本的社群微电商</p>
						<div class="play-icon" data-src="http://player.youku.com/player.php/sid/XMTMxNTI0NTE0NA==/v.swf"><i class="fa fa-play"></i> 点击播放</div><!-- play-icon -->
					</div><!-- vido-banner -->	
					<div class="video-bg" style="display: none;">
						<div class="video-content">
							<div class="video-box">
							</div><!--video-box -->
						</div><!-- video-content -->
					</div><!-- video-bg -->
				</div><!-- black-bg -->
		</div><!-- video -->
	</div><!-- section -->
	<div class="section" id="section3">
		<div class="container">
			<h1 class="section-title">
				成为UBOSS商户
			</h1>
		</div><!-- container -->
	</div><!-- section -->
	<div class="section" id="section4">
		4
	</div><!-- section -->
	<div class="section" id="section5">
		5
	</div><!-- section -->
	<div class="section" id="section6">
		6
		<footer class="text-center">
  			<h3 class="footer-name">UBOSS</h3>
  			<p class="footer_tel">联系我们：0755-66691053</p>
  			<p class="copyright">Copyright    2015 www.uboss.me. All Rights Reserved 粤ICP备15032292号-1 </p>
   </footer>
	</div>
</div>
<script type="text/javascript">
  
  $(document).ready(function (){
  	$("header").css({
				"position":"absolute",
				"background":"rgba(0,0,0,0.3)",
				"top":"0",
				"left":"0",
				"z-index":"100"
    });
    if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE8.0")
    	$("header").css("background","#4c4c4c");
    $(".play-icon").click(function (){
    	var isrc=$(this).attr('data-src');
    	$(".video-bg").fadeIn();
    	$(".video-box").prepend('<embed class="player" src="'+isrc+'" allowFullScreen="true" quality="high" width="600" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed><div class="close"><i class="fa fa-times"></i></div>')
    });
    $(".video-box").on("click",".close",function(){
    	$(".video-bg").fadeOut();
    	$(".video-box").empty();
    });
  })
</script>
<script type="text/javascript">
$(document).ready(function() {
	$('#pagepiling').pagepiling({
	    navigation: {
	    	'position': 'right',
	   		'tooltips': ['1', '2', '3', '4','5','6']
	   	},
	    afterRender: function(){
	    	
	    },
	    afterLoad: function(anchorLink, index){
	    	if(index==2){
	    		$('#video').fadeIn();
	    	}else{
	    		$('#video').hide();
	    	}
		  }
	});
	$('#slider').slick({
    dots: true,
	  infinite: true,
	  speed: 500,
	  fade: true,
	  cssEase: 'linear'
  });

});
</script>
