		<div class="service_centre_title">
			<h1>UBOSS服务中心</h1>
		</div>
		<div class="service_centre_nav">
			<div>
				<nav>
					<a class="service_nav_a" href="service_centre_consumer">我是消费者</a>
					<a class="service_nav_a currentPage" href="#">我是商家</a>
					<a class="service_nav_a" href="service_centre_agent">创客</a>
				</nav>
			</div>
		</div>
		<div class="consumer_container">
			<div class="consumer_nav">
				<nav>
					<a class="service_nav_a" style="background:#43C3AA;color:#FFFFFF;" href="#page1">入门教程</a>
					<a class="service_nav_a" href="#page2">常见问题</a>
				</nav>
				<div>
					<hr />
				</div>
			</div>
			<div id="page1">
				<div class="page1_cont">
					<div class="page1_title"></div><span class="page1_titles">商家入门教程</span></div>
				<div class="page1_tab">
					<div class="tabs" id="tutorial1">
						<div class="orange_circle">
							<p>1</p>
						</div>
						<div class="ui-tutorial-circle-switched"></div>
						<div class="ui-tutorial-tab-switched">
							<p>商家入驻</p>
						</div>
					</div>
					<div class="tabs" id="tutorial2">
						<div class="orange_circle_unswitched">
							<p>2</p>
						</div>
						<div class="ui-tutorial-circle-unswitched"></div>
						<div class="ui-tutorial-tab-unswitched">
							<p>商品管理</p>
						</div>
					</div>
					<div class="tabs" id="tutorial3">
						<div class="orange_circle_unswitched">
							<p>3</p>
						</div>
						<div class="ui-tutorial-circle-unswitched"></div>
						<div class="ui-tutorial-tab-unswitched">
							<p>交易管理</p>
						</div>
					</div>
					<div class="tabs" id="tutorial4">
						<div class="orange_circle_unswitched">
							<p>4</p>
						</div>
						<div class="ui-tutorial-circle-unswitched"></div>
						<div class="ui-tutorial-tab-unswitched">
							<p>店铺管理</p>
						</div>
					</div>
				</div>
				<div class="content1">
					<div class="content1_tab1">
						<div class="content1_list1">
							<div class="questions"><a href="#">商家如何入驻UBOSS平台？是否需要什么条件？</a></div>
							<div class="questions"><a href="#">商家如何认证、创建、装修店铺？</a></div>
							<!--<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>-->
						</div>
						<!--<div class="content1_list2">
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
						</div>
						<div class="content1_list3">
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
						</div>-->
					</div>
					<div class="content1_tab2 hide">
						<div class="questions"><a href="#">商家如何发布产品，如何分享商品的卖点？</a></div>
						<div class="questions"><a href="#">商家如何设定友情卡的积分等级方案？</a></div>
					</div>
					<div class="content1_tab3 hide">
						<div class="questions"><a href="#">商家如何设定折扣等级方案？</a></div>
						<div class="questions"><a href="#">商家如果收到退回的商品不完好，破损等影响2次销售，怎么办？</a></div>
						<div class="questions"><a href="#">消费者要求不退货商家部分退款，商家如何操作？</a></div>
						<div class="questions"><a href="#">商家没有收到退回的货品如何操作？</a></div>
						<div class="questions"><a href="#">商家在货品运输过程中收到买家的退款申请怎么办？</a></div>
						<div class="questions"><a href="#">买家收到商品说是假货怎么办？</a></div>
					</div>
					<div class="content1_tab4 hide">
						<div class="questions"><a href="#">商家好评率如何计算？如何获得更高的好评率？</a></div>
						<div class="questions"><a href="#">商家如何管理店铺，保证订单，发货，物流等快速有效完成？</a></div>
					</div>
					<div class="content1_tab5 hide">
					</div>
				</div>
			</div>
			<div id="page2">
				<div class="page1_cont">
					<div class="page1_title"></div><span class="page1_titles">商家常见问题</span></div>
				<div class="page2_tab">
					<div class="tabs" id="issues1">
						<div class="ui-issues-tab-switched"><p>投诉维权</p></div>
					</div>
					<div class="tabs" id="issues2">
						<div class="ui-issues-tab-unswitched"><p>交易管理</p></div>
					</div>
					<div class="tabs" id="issues3">
						<div class="ui-issues-tab-unswitched"><p>投诉维权</p></div>
					</div>
					<div class="tabs" id="issues4">
						<div class="ui-issues-tab-unswitched"><p>推广商品</p></div>
					</div>
					<div class="tabs" id="issues5">
						<div class="ui-issues-tab-unswitched"><p>商品管理</p></div>
					</div>
					<div class="tabs" id="issues6">
						<div class="ui-issues-tab-unswitched"><p>交易管理</p></div>
					</div>
				</div>
				<div class="content2">
					<div class="content2_tab1">
						<div class="content1_list1">
							<div class="questions"><a href="#">商家如何处理消费者的常见客诉，例如：品质问题，发错货，物流太慢等问题。</a></div>
							<div class="questions"><a href="#">商家如果发现有知识产权，图片等侵权，如何举报维权？</a></div>
							<div class="questions"><a href="#">消费者对商家申请投诉，对商家有很大的影响吗？</a></div>
						</div>

					</div>
					<div class="content2_tab2 hide">
						<div class="questions"><a href="#">商家如果收到退回的商品不完好，破损等影响2次销售，怎么办？</a></div>
						<div class="questions"><a href="#">消费者要求不退货商家部分退款，商家如何操作？</a></div>
						<div class="questions"><a href="#">商家没有收到退回的货品如何操作？</a></div>
						<div class="questions"><a href="#">商家在货品运输过程中收到买家的退款申请怎么办？</a></div>
						<div class="questions"><a href="#">买家收到商品说是假货怎么办？</a></div>
					</div>
					<div class="content2_tab3 hide">
						<div class="questions"><a href="#">消费者对商家申请投诉，对商家有很大的影响吗？</a></div>
					</div>
					<div class="content2_tab4 hide">
						<div class="questions"><a href="#">商家如何提高友情卡的成交量？</a></div>
					</div>
					<div class="content2_tab5 hide">
						<div class="questions"><a href="#">商家如何设定友情卡的积分等级方案？</a></div>
					</div>
					<div class="content2_tab6 hide">
						<div class="questions"><a href="#">买家收到商品说是假货怎么办？</a></div>
					</div>
				</div>
			</div>

		</div>
