
		<div class="service_centre_title">
			<h1>UBOSS服务中心</h1>
		</div>
		<div class="service_centre_nav">
			<div>
				<nav>
					<a class="service_nav_a currentPage" href="#">我是消费者</a>
					<a class="service_nav_a" href="service_centre_tutorial">我是商家</a>
					<a class="service_nav_a" href="service_centre_agent">创客</a>
				</nav>
			</div>
		</div>
		<div class="consumer_container">
			<div class="consumer_nav">
				<nav>
					<a class="service_nav_a" style="background:#43C3AA;color:#FFFFFF;" href="#page1">入门教程</a>
					<a class="service_nav_a" href="#page2">常见问题</a>
				</nav>
				<div>
					<hr />
				</div>
			</div>
			<div id="page1">
				<div class="page1_cont">
					<div class="page1_title"></div><span class="page1_titles">消费者入门教程</span></div>
				<div class="page1_tab">
					<div class="tabs" id="tutorial1">
						<div class="orange_circle">
							<p>1</p>
						</div>
						<div class="ui-tutorial-circle-switched"></div>
						<div class="ui-tutorial-tab-switched">
							<p>购买咨询</p>
						</div>
					</div>
					<div class="tabs" id="tutorial2">
						<div class="orange_circle_unswitched">
							<p>2</p>
						</div>
						<div class="ui-tutorial-circle-unswitched"></div>
						<div class="ui-tutorial-tab-unswitched">
							<p>友钱卡/分享</p>
						</div>
					</div>
				</div>
				<div class="content1">
					<div class="content1_tab1">
						<div class="content1_list1">
							<div class="questions"><a href="#">UBOSS积分有什么用？</a></div>
							<div class="questions"><a href="#">消费者如何调整友情价？调整范围是什么？</a></div>
							<div class="questions"><a>消费者如何获得积分？</a></div>
						</div>
						<!--<div class="content1_list2">
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
						</div>
						<div class="content1_list3">
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
							<div class="questions"><a>消费者如何查看自己的收益？</a></div>
						</div>-->
					</div>
					<div class="content1_tab2 hide">
						<div class="questions"><a href="#">什么是友钱卡？消费者如何获得友钱卡？</a></div>
						<div class="questions"><a href="#">友钱卡怎么使用？</a></div>
						<div class="questions"><a href="#">友钱卡积分怎么变现？</a></div>
					</div>

				</div>
			</div>
			<div id="page2">
				<div class="page1_cont">
					<div class="page1_title"></div><span class="page1_titles">消费者常见问题</span></div>
				<div class="page2_tab">
					<div class="tabs" id="issues1">
						<div class="ui-issues-tab-switched"><p>收益管理</p></div>
					</div>
					<div class="tabs" id="issues2">
						<div class="ui-issues-tab-unswitched"><p>购买咨询</p></div>
					</div>
					<div class="tabs" id="issues3">
						<div class="ui-issues-tab-unswitched"><p>订单查询</p></div>
					</div>
					<div class="tabs" id="issues4">
						<div class="ui-issues-tab-unswitched"><p>友钱卡/分享</p></div>
					</div>
					<div class="tabs" id="issues5">
						<div class="ui-issues-tab-unswitched"><p>售后管理</p></div>
					</div>
					<div class="tabs" id="issues6">
						<div class="ui-issues-tab-unswitched"><p>退款管理</p></div>
					</div>
					<div class="tabs" id="issues7">
						<div class="ui-issues-tab-unswitched"><p>投诉维权</p></div>
					</div>
				</div>
				<div class="content2">
					<div class="content2_tab1">
						<div class="content1_list1">
							<div class="questions"><a href="#">消费者如何查看自己的收益？</a></div>
							<div class="questions"><a href="#">消费者如何将自己的积分或其他的收益提现？</a></div>
						</div>

					</div>
					<div class="content2_tab2 hide">
						<div class="questions"><a href="#">消费者支付方式有几种？</a></div>
						<div class="questions"><a href="#">消费者如何识别商家商品信息的真实性？</a></div>
					</div>
					<div class="content2_tab3 hide">
						<div class="questions"><a href="#">消费者如何查看我的订单和货品的物流信息？</a></div>
					</div>
					<div class="content2_tab4 hide">
						<div class="questions"><a href="#">消费者可否通过微信，QQ，陌陌等交流平台同时分享UBOSS内容？如果可以，那如何绑定这些交流平台？</a></div>
					</div>
					<div class="content2_tab5 hide">
						<div class="questions"><a href="#">消费者如果发现买到的货品有质量问题或与网上描述不符等问题，如何处理？</a></div>
						<div class="questions"><a href="#">消费者购买的商品是否有保质期，若在保质期内出现质量问题，消费者如何向商家索赔？</a></div>
					</div>
					<div class="content2_tab6 hide">
						<div class="questions"><a href="#">消费者购买的产品需要退款和退换货流程是什么？</a></div>
						<div class="questions"><a href="#">消费者如果需要退款，货款多久可以退回到账户，产生的手续费等如何处理？</a></div>
						<div class="questions"><a href="#">消费者在规定日期内没有收到退款该怎么办？</a></div>
					</div>
					<div class="content2_tab7 hide">
						<div class="questions"><a href="#">消费者如果遇到虚假信息，UBOSS平台是否具有投诉机制？</a></div>
						<div class="questions"><a href="#">消费者的投诉问题最快在几个工作日内可以受理完成？</a></div>
						<div class="questions"><a href="#">如果商家拒绝退换货处理和退款处理，消费者该如何维权？</a></div>
					</div>
				</div>
			</div>

		</div>
