
		<div class="service_centre_title">
			<h1>UBOSS服务中心</h1>
		</div>
		<div class="service_centre_nav">
			<div>
				<nav>
					<a class="service_nav_a" href="service_centre_consumer">我是消费者</a>
					<a class="service_nav_a" href="service_centre_tutorial">我是商家</a>
					<a class="service_nav_a currentPage" href="#">创客</a>
				</nav>
			</div>
		</div>
		<div class="consumer_container">
			<div class="consumer_nav">
				<nav>
					<a class="service_nav_a" style="background:#43C3AA;color:#FFFFFF;" href="#page1">入门教程</a>
					<a class="service_nav_a" href="#page2">常见问题</a>
				</nav>
				<div>
					<hr />
				</div>
			</div>
			<div id="page1">
				<div class="page1_cont">
					<div class="page1_title"></div><span class="page1_titles">创客入门教程</span></div>
				<div class="page1_tab">
					<div class="tabs" id="tutorial1">
						<div class="orange_circle">
							<p>1</p>
						</div>
						<div class="ui-tutorial-circle-switched"></div>
						<div class="ui-tutorial-tab-switched">
							<p>账户管理</p>
						</div>
					</div>
					<div class="tabs" id="tutorial2">
						<div class="orange_circle_unswitched">
							<p>2</p>
						</div>
						<div class="ui-tutorial-circle-unswitched"></div>
						<div class="ui-tutorial-tab-unswitched">
							<p>推广UBOSS</p>
						</div>
					</div>
					<div class="tabs" id="tutorial3">
						<div class="orange_circle_unswitched">
							<p>3</p>
						</div>
						<div class="ui-tutorial-circle-unswitched"></div>
						<div class="ui-tutorial-tab-unswitched">
							<p>签约商家</p>
						</div>
					</div>
				</div>
				<div class="content1">
					<div class="content1_tab1">
						<div class="content1_list1">
							<div class="questions"><a href="#">商家如何成为创客？</a></div>
						</div>
					</div>
					<div class="content1_tab2 hide">
						<div class="questions"><a href="#">创客如何推广UBOSS平台？</a></div>
					</div>
					<div class="content1_tab3 hide">
						<div class="questions"><a href="#">创客如何与经销商合作？同时可以绑定多少个经销商？</a></div>
						<div class="questions"><a href="#">创客绑定经销商的流程是什么？</a></div>
					</div>

				</div>
			</div>
			<div id="page2">
				<div class="page1_cont">
					<div class="page1_title"></div><span class="page1_titles">创客常见问题</span></div>
				<div class="page2_tab">
					<div class="tabs" id="issues1">
						<div class="ui-issues-tab-switched"><p>管理商家</p></div>
					</div>

				</div>
				<div class="content2">
					<div class="content2_tab1">
						<div class="content1_list1">
							<div class="questions"><a href="#">创客如何管理和监督经销商正常交易？</a></div>
							<div class="questions"><a href="#">创客如何鉴定经销商发布的产品信息真实性或是否为优质产品？</a></div>
							<div class="questions"><a href="#">创客发现商家的违规交易应如何正确处理？</a></div>
						</div>

					</div>

				</div>
			</div>

		</div>
		// <script type="text/javascript" src="selectTab.js" ></script>
