<%= content_for :page_title do %>
  支付结果
<% end %>

<div class="box">
  <br  />
  <div class="bg-white">
    <div class="box-m40 text-center">
    	<br />
    	<h2>支付成功</h2>
    	<br />
    	<div class="gray-color">恭喜你，获得 <span class="like-color">2</span> 家店铺友情卡</div>
    	<br />
    </div>
  </div><!-- bg-white -->
  <br  />
  <div class="bg-white">
    <div class="box-m40 text-center">
    	<br />
    	<h2>支付成功</h2>
    	<br />
    	<div class="gray-color">恭喜你，获得 <span class="like-color">创客权</span> 的友情卡</div>
    	<br />
    </div>
  </div><!-- bg-white -->
  <br  />
  <div class="bg-white">
    <div class="box-m40 text-center">
    	<br />
    	<h2>友情卡</h2>
    	<br />
    	<div class="gray-color">帮你省钱和赚钱的会员卡</div>
    	<br />
    	<a href="/account#showpcards" class="btn btn-block btn-large">查看我的友情卡</a>
    	<br />
    	<p><a href="/about" class="gray-color">了解更多</a></p>
    	<br />
    </div>
  </div><!-- bg-white -->
  <br  />
  <div class="bg-white">
    <div class="box-m40 text-center">
    	<br />
    	<p>恭喜你成为UBOSS的第 <span class="like-color">12134</span> 位创客</p>
    	<br />
    	<a href="/about" class="btn btn-block btn-large">查看创客教程</a>
    	<br />
    </div>
  </div><!-- bg-white -->
</div><!-- box -->
<br />
<div class="gap">
	<p><a href="/account#showlist" class="btn btn-block btn-large btn-black-border">查看订单</a></p>
	<br />
	<p><a href="/" class="btn btn-block btn-large btn-black-border">返回首页</a></p>
</div>