<%= content_for :page_title do %>
  支付订单
<% end %>
<br />
<div class="payment-box wx-pay">
	<span>微信支付</span>
	<input type="radio" name="payment_item" value="微信支付" class="pay-checkbox pay-checked" checked="checked" />
</div>
<%#<div class="payment-list wx-pay">%>
	<%#<span>支付宝</span>%>
	<%#<input type="radio" name="payment_item" value="支付宝" checked="checked" />%>
<%#</div>%>

<div class="order-price">
  	<%= link_to '去付款', "javascript:;", class: 'cart-btn btn' %>
    <div class="content">
			<p>应付款：￥<span id="total_price">400</span></p>
			<p class="gray-color"><small>已优惠了XX元</small></p>
	  </div>
</div><!-- order-price -->
