<div class="container admin-container">
	<ul class="breadcrumb">
		<li><a href="/admin">主页</a></li>
		<li class="divider"><i class="fa fa-angle-right"></i></li>
		<li><a href="/admin/wechat_accounts">微信账户</a></li>
		<li class="divider"><i class="fa fa-caret-right"></i></li>
		<li class="active">新增</li>
	</ul>
</div><!-- container -->
<br />
<div class="container">
	<h3  class="page-title">新增微信账户</h3>
	<div class="admin-box black-bg-color">
		<%= render 'form' %>
	</div>
</div>
