<% if flash.any? %>
  <div class="flash_css">
    <div id="flash-messages">
      <% if flash[:success] %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">x</a>
          <p class="p_class"><%== flash[:success] %></p>
        </div>
      <% end %>
      <% if flash[:info] || flash[:notice] %>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">x</a>
          <%== flash[:info] || flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">x</a>
          <%== flash[:error] %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
