
<%= content_for :page_title do %>
  成为商家
<% end %>
<div class="upass main">
<div class="container add_listall" >
  <div class="row text-center font_h1" style="padding-top:60px;">
    成为UBOSS商家
  </div>
  <div class="row font_h4 text-center" style="padding:10px;">
    您已经成为UBOSS商家并与创客<%= current_user.agent.identify %>绑定，电脑登录uboss.cc管理你的店铺吧。
  </div>
  <div class="add_conts">
    <div class="accunt_adil_box3 adbtn">
      <%= link_to "返回", settings_account_path, class:"accunt_adilbtn" %>
    </div>
  </div>
</div>
