<%= content_for :page_title do %>
  成为商家
<% end %>

<br />

<div class="box bg-white text-center">
  <div class="box-m40">
    <h3> 成为UBOSS商家 </h3>

    <p>
    您已经成为UBOSS商家并与创客<%= current_user.agent.identify %>绑定，电脑登录uboss.me管理你的店铺吧。
    </p>

    <br />
    <%= link_to "返回", settings_account_path, class:"btn btn-large btn-block" %>
  </div>
  <br />
</div>
