<%= content_for :page_title do %>
  成为商家
<% end %>
<div class="upass main">
<div class="container add_listall" >
  <div class="row text-center font_h1" style="padding-top:60px;">
    成为UBOSS商家
  </div>
  <div class="row font_h4 text-center" style="padding:10px;">
    亲爱的 <%= current_user.identify %>，在您确认成为UBOSS商家前，请审慎阅读《UBOSS商家入驻协议》
  </div>
  <div class="add_conts">
    <div class="accunt_adil_box3 adbtn">
      <%= link_to '我已经阅读并同意协议', url_for(action: :new_agent_binding), class:"accunt_adilbtn" %>
      <br/>
      <%= link_to '暂不成为Uboss商家', url_for(action: :settings), class:"accunt_adilbtn" %>
    </div>
  </div>
</div>
